@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('font/alsrubl-arial-regular.eot');
    src: url('font/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),
    url('font/alsrubl-arial-regular.woff') format('woff'),
    url('font/alsrubl-arial-regular.ttf') format('truetype'),
    url('font/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    color: #9e0f0f;
}
.choose-seat-main-block {
    margin: 20px 0 0;
    border: #d3d3d3 solid 1px;
    height: 548px;
    font-family: 'Open Sans', sans-serif;
}
.zoom-in-block {
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/official/zoom-img.png") no-repeat 0 0;
    margin: 0 0 3px;
}
.zoom-in-block:hover {
    background-position: -37px 0;
}

.zoom-out-block {
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/official/zoom-img.png") no-repeat 0 -39px;
    margin: 0 0 3px;
}
.zoom-out-block:hover {
    background-position: -37px -39px;
}
#orderbox {
    position: absolute;
    right: 11px;
    top: 9px;
}
#orderbox .hbox p {margin: 0;margin-bottom: 5px}
#orderbox .hbox {
    width: 174px;
    background: #030303;
    padding: 24px 24px 24px;
    border-radius: 5px;
    position: relative;
    color: #FFF;
}
#orderbox .hbox hr{
    display: block;
    border: none;
    border-bottom: #353535 solid 1px;
    height: 1px;
    background: none;
    line-height: 0;
    font-size: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.place-selected-block {
    color: #fff;
}
.hbox-head {
    color: #808080;
    font-size: 16px;
    display: block;
    margin: 0 0 3px;
}
.place-selected-block .count,
.place-selected-block .amount-result{
    font-size: 25px;
}
.amout-result {

}
.hbox .btn-mmdm {
    margin-top: 17px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    background: #ee0028;
    background: -moz-linear-gradient(top,  #ee0028 0%, #9f0f0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee0028), color-stop(100%,#9f0f0f));
    background: -webkit-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: -o-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: -ms-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: linear-gradient(to bottom,  #ee0028 0%,#9f0f0f 100%);
    box-shadow: none;
}
.hbox .btn-mmdm:hover {
    background: #ff4d52;
    background: -moz-linear-gradient(top,  #ff4d52 0%, #ed0128 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4d52), color-stop(100%,#ed0128));
    background: -webkit-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: -o-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: -ms-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: linear-gradient(to bottom,  #ff4d52 0%,#ed0128 100%);
}
#scalepanel {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 9999;
}
.scalebox h1 {
    background: #d5d5d5;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-size: 19px;
    line-height: 1.7;
    letter-spacing: 0;
}
#places {overflow: hidden;width:100%;height:548px;position: relative;}
#places div.place {
    position: absolute;
    width:30%;
    height:30%;
    border: 1px solid #949494;
    border-radius: 3px;
}
#places div.place.not-available{
    background: #fff;
    border: #c9c9c9 solid 1px !important;
}
#places div.status2 {
    background: #fff !important;
    border: #c9c9c9 solid 1px !important;
}
#places div.sel {
    border-color: #dd0323 !important;
    background: #dd0323 !important;

}
#places div.place:hover {
    border-color: #dd0323 !important;
    box-shadow: 0 0 0 1px #dd0323;
}
#tiptip_content {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}
.place-head-detail {
    display: block;
    font-weight: bold;
    font-size: 21px;
    margin: 0 0 9px;
}
.place-head-position {
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 3px;
}
.place-head-price {
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 3px;
}
.place-head-price .rubl {
    font-size: 17px;
}
.rubl {
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
}

/*  BUY ELECTRON TICKET
	----------------------------------------------------------------- */
.buy-electron-ticket {
    border: #d3d3d3 solid 1px;
    position: relative;
    padding: 37px 86px;
    color: #000;
    margin: 0 0 20px;
}
@media screen and (max-width: 991px) {
    .buy-electron-ticket {
        padding: 37px 24px;
    }
}
.buy-electron-ticket:after {
    content:"";
    display:block;
    visibility:hidden;
    font-size:0;
    clear:both;
    height:0;
}
.buy-electron-ticket:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: #cccccc dashed 1px;
}
.buy-e-t-left {
    float: left;
    width: 50%;
    padding-right: 52px;
    position: relative;
    z-index: 10;
}
.buy-e-t-right {
    float: right;
    width: 50%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 21px;
}
@media screen and (max-width: 991px) {
    .buy-e-t-left {
        padding-right: 24px;
    }
    .buy-e-t-right {
        padding-left: 24px;
    }
}
.form-btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-top: 17px;
    height: 42px;
    line-height: 42px;
    padding: 0 23px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;

    background: #ee0028;
    background: -moz-linear-gradient(top,  #ee0028 0%, #9f0f0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee0028), color-stop(100%,#9f0f0f));
    background: -webkit-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: -o-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: -ms-linear-gradient(top,  #ee0028 0%,#9f0f0f 100%);
    background: linear-gradient(to bottom,  #ee0028 0%,#9f0f0f 100%);
    box-shadow: none;
    border-radius: 3px;
}
.form-btn:hover {
    background: #ff4d52;
    background: -moz-linear-gradient(top,  #ff4d52 0%, #ed0128 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4d52), color-stop(100%,#ed0128));
    background: -webkit-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: -o-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: -ms-linear-gradient(top,  #ff4d52 0%,#ed0128 100%);
    background: linear-gradient(to bottom,  #ff4d52 0%,#ed0128 100%);
}

.top-info {
    margin: 0 0 18px;
}

.top-info-date, .top-info-time {
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 16px;
    vertical-align: top;
}
.top-info-date {
    padding-left: 19px;
    background: url("../img/official/top-info-date.png") no-repeat 0 4px;
    margin-right: 23px;
}
.top-info-time {
    padding-left: 16px;
    background: url("../img/official/top-info-time.png") no-repeat 0 4px;
}
.ticket-name {
    color: #9e0f0f;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin: 0 0 12px;
}
.ticket-place {
    font-size: 14px;
    margin: 0 0 27px;
}
.tickets-info-table {
    width: 100%;
    border-collapse: collapse;
}
.tickets-info-table tr td {
    border-top:#e5e5e5 solid 1px;
    font-size: 16px;
    padding: 9px 0 6px;
}
.tickets-info-table tr th {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 0 4px
}
.tickets-info-table tr td.ar,
.tickets-info-table tr th.ar{
    text-align: right;
}
.total-info {
    text-align: right;
    font-size: 24px;
    padding: 10px 0 0 0;
}
.total-info-head {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tickets-info-table tbody tr th {
    border-top:#9c9c9c solid 2px;
}
.buy-e-t-right h2 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 0;
}
.buy-e-t-right .form-block {
    padding: 8px 0 0 0;
}
.form-item {
    margin: 0 0 14px;
}
.form-item.item-error .i-text {
    background: #ffe8eb;
    border: #dc9ea0 solid 1px;
    margin-right: 10px;
}
.form-item.item-error .checkbox-wrapper .checkbox {
    background-color: #ffe8eb;
    border: #dc9ea0 solid 1px;
}

.error-message-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}
.error-message-block span {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    color: #9e0f0f;
}
.i-text {
    width: 289px;
    height: 40px;
    border: #999999 solid 1px;
    border-radius: 5px;
    color: #010101;
    padding: 0 0 0 11px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.accepted-block {
    padding: 6px 0 0 0;
    font-weight: normal;
    margin: 0 0 -21px;
}
.accepted-block label{
    font-weight: normal;
}
.accepted-block a {
    color: #000;
    text-decoration: underline;
}
.checkbox-wrapper input {
    display: none;
}
.checkbox-wrapper .checkbox {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: #999999 solid 1px;
    border-radius: 5px;
    padding: 0;
    margin: -2px 0 0 0;
}
.lt-ie9 .checkbox-wrapper .checkbox {
    display: none;
}
.lt-ie9 .checkbox-wrapper input {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.checkbox-wrapper input:checked + label .checkbox {
    background: url("../img/official/check-fon.png") no-repeat center center;
}
.page-header.no-border {
    border-color: transparent;
}