/*SOS*/
	#block-block-24 {
		margin-top: 20px;
	}
/*Конец SOS*/
.gorod{
	    text-align: center;
	        margin: 40px 0;
}


.gorod__blok {
	    position: relative;
    	overflow: hidden;

}

.gorod__blok img{
	    width: 100%;
	    height: auto;

}

.gorod__zag_top {
	position: absolute;
    bottom: -36px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 92%;
}

.gorod__zag_top1 {
	position: absolute;
    bottom: -36px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 92%;
}

.gorod__blok:hover div.gorod__zag_top {
    top: 0;
    padding-top: 40px; 
}

.gorod__zag_bottom {
	position: absolute;
    bottom: -36px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 92%;
}

.gorod__zag_bottom1 {
	position: absolute;
    bottom: -18px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 92%;
}

.gorod__zag_bottom2 {
	position: absolute;
    bottom: -36px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 92%;
}

.gorod__blok:hover div.gorod__zag_bottom {
	top: 0;
    padding-top: 40px;
}

.gorod__blok:hover div.gorod__zag_top1 {
	top: 0;
    padding-top: 40px;
}

.gorod__blok:hover div.gorod__zag_bottom1 {
	top: 0;
    padding-top: 40px;
}

.gorod__blok:hover div.gorod__zag_bottom2 {
	top: 0;
    padding-top: 40px;
}

@media (max-width: 1198px) {
	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 90%;
	}

	.gorod__zag_bottom2{
		bottom: -57px;
	}

}

@media (max-width: 991px){
	.gorod__blok:hover div.gorod__zag_top,
	.gorod__blok:hover div.gorod__zag_top1,
	.gorod__blok:hover div.gorod__zag_bottom, 
	.gorod__blok:hover div.gorod__zag_bottom2, 
	.gorod__blok:hover div.gorod__zag_bottom1 {
		padding-top: 0px;
	}

	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 87%;
		font-size: 12px;
	}
	.gorod__zag_top1{
		bottom: -53px;
	}
	.gorod__zag_bottom2{
		bottom: -57px;
	}
	.gorod__zag_bottom1{
		bottom: -41px;
	}
}

@media (max-width: 767px){
	.gorod__blok:hover div.gorod__zag_top,
	.gorod__blok:hover div.gorod__zag_top1,
	.gorod__blok:hover div.gorod__zag_bottom, 
	.gorod__blok:hover div.gorod__zag_bottom2, 
	.gorod__blok:hover div.gorod__zag_bottom1 {
		padding-top: 40px;
	}

	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 95.5%;
		font-size: 15px;
	}
	.gorod__zag_top1{
		bottom: -53px;
	}

	.gorod__zag_top{
		bottom: -22px;
	}
	.gorod__zag_bottom{
		bottom: -19px;
	}
	.gorod__zag_bottom2{
		bottom: -22px;
	}
	.gorod__zag_bottom1{
		bottom: -22px;
	}
}

@media (max-width: 674px) {
	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 95%;
	}
}

@media (max-width: 600px) {
	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 94%;
	}
}

@media (max-width: 578px) {

	
	.gorod__zag_top1{
		bottom: -53px;
	}
	.gorod__zag_bottom{
		bottom: -19px;
	}
	.gorod__zag_bottom2{
		bottom: -22px;
	}
	.gorod__zag_bottom1{
		bottom: -22px;
	}
}

@media (max-width: 443px) {
	.gorod__zag_top,
	.gorod__zag_top1,
	.gorod__zag_bottom, 
	.gorod__zag_bottom1, 
	.gorod__zag_bottom2 {
		width: 92%;
	}
}





