/* Шапка */
@font-face {
    font-family: 'GIL';
    src: url('/sites/all/themes/mmdm_theme/fonts/gil.ttf');
}
@font-face {
    font-family: 'HelveticaNeue Medium';
    src: url('/sites/all/themes/mmdm_theme/fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.otf');
}
@font-face {
    font-family: 'HelveticaNeue Roman';
    src: url('/sites/all/themes/mmdm_theme/fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.otf');
}
body {
	background-color: #b0afaf !important;
    /*background-image: url(/sites/all/themes/mmdm/images/fon.jpg);*/

}

p {
        margin: 0px 0 10px !important;
}



.yshi {
    position: fixed;
    width: 100%;
}

.yshi-left {
    background-image: url(../images/yshi/ru3_1.png);
    background-repeat: no-repeat;
    background-size: cover;
        height: 916px;

}

.yshi-right {
    background-image: url(../images/yshi/ru3_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 916px;
}

.yshi-width-right {
    float: right;
}

.yshi-width-left {
    float: left;
}
.yshi-width-left,.yshi-width-right {
    width: 18.6%;

}
.yshi-left,.yshi-right{
    height: 100vh;
}
@media (max-width: 1860px){
    .yshi {
        display: none;
    }
}
@media (min-width: 1920px){
    .yshi-width-left,.yshi-width-right {
        width: 19.5%;
    }
}
@media (min-width: 1950px){
    .yshi-width-left,.yshi-width-right {
        width: 20%;
    }
}
@media (min-width: 2000px){
    .yshi-width-left,.yshi-width-right {
        width: 20.7%;
    }
}
@media (min-width: 2050px){
    .yshi-width-left,.yshi-width-right {
        width: 21.6%;
    }
}
@media (min-width: 2100px){
    .yshi-width-left,.yshi-width-right {
        width: 22.1%;
    }
}
@media (min-width: 2150px){
    .yshi-width-left,.yshi-width-right {
        width: 22.8%;
    }
}
@media (min-width: 2200px){
    .yshi-width-left,.yshi-width-right {
        width: 23.4%;
    }
}
@media (min-width: 2250px){
    .yshi-width-left,.yshi-width-right {
        width: 24%;
    }
}
@media (min-width: 2300px){
    .yshi-width-left,.yshi-width-right {
        width: 24.5%;
    }
}
@media (min-width: 2350px){
    .yshi-width-left,.yshi-width-right {
        width: 25.1%;
    }
}
@media (min-width: 2400px){
    .yshi-width-left,.yshi-width-right {
        width: 25.6%;
    }
}
@media (min-width: 2450px){
    .yshi-width-left,.yshi-width-right {
        width: 26.1%;
    }
}
@media (min-width: 2500px){
    .yshi-width-left,.yshi-width-right {
        width: 26.4%;
    }
}
@media (min-width: 2550px){
    .yshi-width-left,.yshi-width-right {
        width: 26.8%;
    }
}
@media (min-width: 2600px){
    .yshi-width-left,.yshi-width-right {
        width: 27.5%;
    }
}
@media (min-width: 2650px){
    .yshi-width-left,.yshi-width-right {
        width: 27.9%;
    }
}
@media (min-width: 2700px){
    .yshi-width-left,.yshi-width-right {
        width: 28.5%;
    }
}
@media (min-width: 2750px){
    .yshi-width-left,.yshi-width-right {
        width: 28.9%;
    }
}
@media (min-width: 2800px){
    .yshi-width-left,.yshi-width-right {
        width: 29.4%;
    }
}
/*Форма поиска*/

/*#search-block-form {
    position: relative;
}

#search-block-form .form-item-search-block-form {
float: left;
width: 75%;
}

#edit-search-block-form--2 {
    height: 34px;
    padding: 6px 12px 6px 7px;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#search-block-form .form-actions {
  float: right;
  width: 25%;
}

#search-block-form .form-actions #edit-submit {
    margin: 1px;
    padding: 6px;
    border: none;
    font-size: 14px;
    border-radius: 0px 4px 4px 0px;
}*/
    

/*.heade-search {
    width: 65%;
}*/

/*.heade-search .region-search {
    float: right;
    width: 100%;
}

.form-item-custom-search-blocks-form-1 {
    float: left;
    width: 80%;
}*/

.headr-content-top {
    background-color: #fefcc5;
    border: 1px solid #ffad00;
    margin: 12px 0;
    border-radius: 10px;
    padding: 6px 10px;
}

.btn-primary {
     color: #000; 
     background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:hover {
     color: #000; 
     background-color: #dddddd;
    border-color: #dddddd;
}

#edit-custom-search-blocks-form-1--2 {
    width: 100%;
}

#edit-search-block-form--2 {
    width: 85%;
}

.heade-search .search-form,
.heade-search .search-form .form-item,
.heade-search .search-form .form-actions {
    margin: 0;
}




/*Конец формы поиска*/

.header-lang {
    text-align: center;
    margin-bottom: 7px;
}


#headr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.headr--position {
	/*position: relative;*/
    text-align: right;
}

.headr-padding {
    padding-right: 10px;

}

.tel {
    font-size: 26px;
    font-weight: bold;
    color: #fe060e;

}

.headr--telefon {
    text-align: center;
}

.language-link {
    font-size: 12px;
    color: #222;
}

.language-link .active {
    text-decoration: underline;
}

.headr-login {
    text-align: right;
    color: #222;
    float: right;
}

/* Конец шапки */

/* Меню */
#menu {
margin-bottom: 6px;
}

#menu .navbar-default {
	background-color: #424a5b !important;
    border-radius: 0px;
	
}

#menu .navbar-default a{
	color: #ffffff;
    /*font-family: 'HelveticaNeue Medium';*/
    /*letter-spacing: 0.5px;*/
    /*text-transform: uppercase;*/
}
.nav>li>a {
    /*padding: 17px 6px 13px 8px;*/
    /*padding: 15px 11px;*/
    padding: 15px 11.5px;
}
/*.navbar {*/
     /*min-height: 30px;*/
/*}*/
#block-calenrad-events-calenrad-events h2 {
	text-align: center;
}

#block-calenrad-events-calenrad-events .view-display-id-block_1 {
	/*background-color: #e4f0f0;*/
    /*padding: 10px 10px;*/
    margin: 0;
    /*height: 170px;*/
    overflow-y: auto;
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
}

.dropdown-menu {
    background-color: #4f6c70 !important;
}

.dropdown-menu li {
    list-style-image: none !important;
    list-style-type: none !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #282e3c !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #4f6c70 !important;
}

/* Конец меню */


/*баннер на главной*/
#back_to_top{
    /*display: none;*/
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
@media (max-width: 768px) {
    #block-views-slider-840-block, #reformal_tab img{
        display: none; 
    }
    #reformal_tab{
        border: 0 !important;
        padding: 0 !important;
    }
    
    .block-title {
        padding-top: 20px;
    }
    #back_to_top.up{
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.7;
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
        position: fixed;
        bottom: 5%;
        right: 5%;
        background-color: #c3c0c1;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 3px 13px 0px #2b2929;
        content: ' ';
        background-image: url(../images/backtotop.png);
        z-index: 1;
        background-size: 34px 26px;
        background-repeat: no-repeat;
        background-position: 8px 10px;
        cursor:pointer;
    }
}


/* Prevents slides from flashing */
    #slides {
      display:none;
    }

/*Календарь на главной*/

.block-calenrad-events h2{
	overflow: hidden;
}

.block-calenrad-events h2:before,
.block-calenrad-events h2:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  box-sizing: border-box;

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 100%;
  height: 2px;
  background: #68757b;

  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
  border: solid #68757b;
  border-width: 0 10px;
}
.block-calenrad-events h2:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -100%;
}
.block-calenrad-events h2:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -100%;
}

/*.option {
	background: #000;
    color: #FFF;
    padding: 2px;
}*/


.block-calenrad-events {
	/*margin-bottom: 20px;*/
    margin-bottom: 5px;
}

#block-calenrad-events-calenrad-events .filter_wrap .form-radios input:checked + label {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 2px;
    background: #51697e;
    /*background: #000000 url(../images/strelka.jpg) no-repeat;*/
    background-position: -5px 21px;
    padding-bottom: 17px;

}

#block-calenrad-events-calenrad-events .views-field-field-hall-full {
    clear: both;
    text-transform: uppercase;
    color: #4f6e73;
    font-weight: bold;
    padding: 0 0 10px;
}

#block-calenrad-events-calenrad-events {
    margin-top: -40px;
}

#block-calenrad-events-calenrad-events .views-field-field-data-event {
    color: #4f6e73;
}

.calendar-chang {
    color: #9e0f0f !important;
}

.home-event-list {
        color: #f50909;
    font-weight: bold;
}

/*END Календарь на главной*/

/*Квадратики на главной*/
.event-front-kvadrat-img {
	overflow: hidden;
}

.event-front img{
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(85%);
	-moz-filter: grayscale(85%);
	-ms-filter: grayscale(85%);
	-o-filter: grayscale(85%);
	filter: grayscale(85%);
	filter: gray; /* IE 6-9 */
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.event-front .event-front-kvadrat:hover img{
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	filter: none; /* IE 6-9 */
	-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}


.event-front-kvadrat {
	position: relative;
}

.event-front .event-front-kvadrat .date-display-single {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.event-front .event-front-kvadrat:hover .date-display-single {
    display: none;
    -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.event-front-kvadrat-text {
	position: absolute;
	z-index: 99;
    color: #fff;
    bottom: 0;
    background: rgba(0, 0, 0, 0.59);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}



.otstup {
	margin: 0 !important;
	padding: 4px !important;
}


/*.front-baner {
	    margin: 10px 0px;
}*/

.front-baner-bg {
/*	background: #4f6c70;
	border-top: 8px solid #00b0aa;
    border-bottom: 8px solid #00b0aa;*/
    background: #b0afaf;
    /* border-top: 8px solid #00b0aa; */
    /* border-bottom: 8px solid #00b0aa; */
    margin: 10px 4px;
}

.front-baner-img {
	text-align: center;
}

.front-baner-img img{
	width: 100%;
    height: auto;
}



/*Материал эвент*/
.event-data {
	text-align: center;
    margin-bottom: 25px;
}

.event-data .field-name-field-data-event,
.event-data .field-name-field-hall-full,
.event-data .field-name-field-age-rating{
	display: inline-block;
}

.event-info {

}

.node-type-events h1.page-header {
    display: none;
}

.event-video iframe {
    width: 360px !important;
    height: 215px;
}

.title-long {
        margin-top: -11px;
    margin-bottom: 10px;
}

.event-programm {
    margin-top: 15px;
}

.field-name-field-batten-sele-in .field-items {
    color: #bf152c;
    font-style: oblique;
}
/*Конец материала Эвент*/

/*Новые стили афиши*/
.afishastyle {
	margin-bottom: 5px;
    height: 115px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .afishastyle {
    margin-bottom: 5px;
    height: auto;
}
    .afishastyle-zag {
        text-align: center;
    }
    .afishastyle-text {
        text-align: center;
    }
}

.btn-af {
	display: inline-block;
    padding: 1px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    /*background-color: #4f6c70;*/
    margin-bottom: 7px;
    background-color: #424a59;
}

.btn-af:hover {
	color: #4f6c70;
	border: 1px solid #4f6c70;
	background-color: #fff;
	text-decoration: none;

}

.btn-afzab {
	display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #424a59;
    /*background-color: #4f6c70;*/
}

.btn-afzab:hover {
	color: #4f6c70;
	border: 1px solid #4f6c70;
	background-color: #fff;
	text-decoration: none;

}

.afishastyle-zag {
	    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

.afishastyle-text {
	font-size: 12px;
	margin-top: -15px;
    text-align: justify;
}

.afisha__data1 {
	    text-align: left;
    font-weight: bold;
    font-size: 25px;
}
.afisha__data2 {
	text-align: left;
	font-size: 12px;
    text-transform: uppercase;
}
.afisha__data3 {
	text-align: left;
	font-size: 12px;
    text-transform: uppercase;
}

.afishastyle img{
	width: 100%;
	height: auto;
}

.afishastyle-izmen {
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #9e0f0f;
    margin-top: 7px;
}

.hr-fest {
        margin-top: 10px !important;
    margin-bottom: 15px !important;
}



.event-data .field-name-field-age-rating .field-item{
        border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    margin-left: 11px;
}

.afisha-izmenenie {
    color: #9e0f0f;
    text-decoration: underline;
}

.field-name-field-changes-event-list .field-item {
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #9e0f0f;
}

/*Конец новых стилей афиши */


.node-type-set .img-afisha {
    float: right;
}

.node-type-set .field-item {
    overflow: hidden;
}

/*Комплекты*/
.view-id-set .tablegroup-item {
    width: 195px;
    display: block;
    margin-bottom: 15px;
}

/*Комплекты*/
.view-id-set {
    text-align: center;
    padding: 5px 0;
}
.view-id-set .tablegroup-item {
    width: 208px;
    display: block;
    margin-bottom: 0px;
    height: 205px;
}

.order-block-set {
    padding: 15px 0;
    text-align: center;
}

.hall-name {
    color: #fff;
    border-color: #adadad;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    /*width: 320px;*/
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #c4d6d6 !important;
}

.hall-name.c {
    background: #4f85bb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmODViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Mzk1YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4f85bb 0%, #7395b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#7395b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4f85bb 0%,#7395b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4f85bb 0%,#7395b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4f85bb 0%,#7395b7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4f85bb 0%,#7395b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#7395b7',GradientType=0 ); /* IE6-8 */
}

.hall-name.a {
background: #b7ad70; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YWQ3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWNlYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #b7ad70 0%, #d5cea6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7ad70), color-stop(100%,#d5cea6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7ad70 0%,#d5cea6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7ad70 0%,#d5cea6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7ad70 0%,#d5cea6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b7ad70 0%,#d5cea6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ad70', endColorstr='#d5cea6',GradientType=0 ); /* IE6-8 */
}

.hall-name.b {
    background: #96c56f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YzU2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOWRiODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #96c56f 0%, #a9db80 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c56f), color-stop(100%,#a9db80)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96c56f 0%,#a9db80 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96c56f 0%,#a9db80 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96c56f 0%,#a9db80 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96c56f 0%,#a9db80 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c56f', endColorstr='#a9db80',GradientType=0 ); /* IE6-8 */
}

.hall-name.d {
    background: #c1bfea; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxYmZlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmU5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c1bfea 0%, #ebe9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1bfea), color-stop(100%,#ebe9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c1bfea 0%,#ebe9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c1bfea 0%,#ebe9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c1bfea 0%,#ebe9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c1bfea 0%,#ebe9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=0 ); /* IE6-8 */
}

.hall-name.i {
    background: #924f4f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
}

.title-view-id-season_ticket {
    /*color: #9e0f0f;*/
    background-color:  #fff;
}

.title-view-id-season_ticket .field-content a{
    color: #9e0f0f;
}

#block-system-main .views-field-field-img-subscription .field-content{
        box-shadow: 0px 9px 15px #988B8B;
}

/*Пресса*/

.node-press .field-name-body {
    text-align: justify;
}


/*Конец пресса*/

/* Фестивали */

.fest-tpl {
    width: 100%;
    border-collapse: separate;
    border-spacing: 35px 15px;
    margin-bottom: 19px;
    text-align: center;
}

.fest-tpl__td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    transition: .5s;
}

.fest-tpl a:hover{
    text-decoration: none;
}

.fest-tpl__td:hover {
    -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
       transform: scale(1.1);
}

 /*новое для фестивалей*/

.fest-new {
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-fest {
    width: 109%;
    border-radius: 10px;
}

.hr-fest {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #FFFFFF;
}

/* конец */


/*материал мероприятие*/
.event-buttom {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.event-video {
    margin-top: 30px;
    width: 360px;
    height: 226px;
    overflow: hidden;
}

/*.event-content p {
    margin: 0;
}
*/

.event-announcement {
    margin: 20px 0;
}
/*.event-announcement p{
    margin: 0;
}*/


.event-info-bay {
    margin: 20px 0;
}

.btn-event, .btn-event-out {
    color: #ffffff ;
    border: none;
    background: #424a5a;
    text-transform: uppercase;
}
.btn-event.invert, .btn-event-out {
    color: #000000 ;
    border: none;
    background: none;
    text-transform: uppercase;
    border: 1px solid #383a3e !important;
}

.btn-event:hover, .btn-event-out{
    color: #000000 !important;
    border: 1px solid #383a3e !important;
    background: none;
}
.btn-event.invert:hover, .btn-event-out{
    color: #ffffff !important;
    border: 1px solid #383a3e !important;
    background: #424a5a;
}

/*END материал мероприятие*/

/*Материал О домемузыки*/

.musik-house {
    text-align: center;
}

.musik-house-otstyp {
    padding: 15px;
    background: #ffffff;
}

.musik-house-otstyp:hover {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.17);
}

.musik-house-position {
    position: relative;
}

.musik-house ul, 
.musik-house li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.musik-house li {
    display: inline-block; 
    margin: 10px;
    
}

.musik-house img {
    max-width: 100%;
    display: block;
    width: 327px;    
}

.musik-house-p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size: 23px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

/*END Материал О домемузыки*/


#block-block-6 {
    padding-top: 20px;
}

footer {
	background: #373a3e;
	color: #ffffff;
	padding-bottom: 20px;
    margin-top: 15px;
}

footer a{
	text-decoration: underline;
	color: #bcd6d7;
}

footer a:hover {
	color: #fff;
}

.kultura__style img {
    width: 150px;
    height: auto;
    float: left;
    padding: 5px;
}


/**
*  End: Payments page
*/

.btn--big {
    line-height: 26px;
    font-size: 18px;
    padding: 6px 20px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.btn--order {
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    padding: 6px 20px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, #a00e10 0%, #ed0027 100%);
    border-radius: 0;
}
@media screen and (min-width: 767px) {
    .btn--order {
        font-size: 18px;
    }
    .block-title {
        padding-top: 20px;
    }
}
.btn--order:hover {
    color: white;
    border-color: transparent;
}
.btn--order:focus, .btn--order:active {
    outline: none;
    color: white;
    border-color: transparent;
}
.btn--order:active {
    background: 0 0;
    background-image: linear-gradient(to top, #a00e10 0%, #ed0027 100%);
}


.btn-transparent {
    background: transparent;
    color: #9e0f0f;
    border: 1px solid #9e0f0f;
}
.btn-transparent:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-group-margin .btn {
    margin-right: 20px;
}
.btn-group-margin .btn:last-child {
    margin-right: 0;
}
/*--Loader--*/
.btn.btn-loading .btn-loader{
    bottom: 0;
}

.btn-loader {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background: rgba(158, 15, 15, .9);
    text-align: center;
    transition: all .3s;
}

.btn-loader__dots {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 0;
    margin-top: -3px;
}

.btn-loader__item{
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    margin-right: 3px;
    animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
    animation-duration:1.24s;
    -ms-animation-duration:1.24s;
    -webkit-animation-duration:1.24s;
    -moz-animation-duration:1.24s;
    animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circleG_1{
    animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#circleG_2{
    animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -moz-animation-delay:0.7s;
}

#circleG_3{
    animation-delay:1s;
    -ms-animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
}

@keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-ms-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-webkit-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-moz-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}
/*--end Loader--*/


/**
*  Begin: Payments page
*/

/*---payment by credit card---*/
.payment-container {
    text-align: center;
    margin: auto;
    padding: 25px 6px 20px;
}

@media screen and (min-width: 768px) {
    .payment-container {
        width: 500px;
        padding: 25px 0 40px;
    }
}

.payment-container .control-label {
    color: #767676;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.payment-container .form-group {
    text-align: left;
}

.payment-container .text-gray-small {
    color: #bcbbbb;
    font-size: 12px;
    padding-left: 3px;
    text-transform: lowercase;
}

.payment-container .form-control {
    height: 40px;
    background: white;
    padding: 0 15px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #d8d7d8;
    border-radius: 3px;
}

.payment-container .btn-full {
    margin: 30px 0 20px 0;
    position: relative;
    background: #0078ff;
    height: 42px;
    border-radius: 3px;
}

.payment-container .btn-full .btn {
    width: 100%;
}

.payment-container .btn-full .btn.hide {
    display: none;
}

.payment-container .btn-full .loader {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

.payment-container .btn-full .loader.show {
    display: block;
}

.payment-container .text-security {
    text-align: center;
    margin-top: 14px;
}

.payment-container .text-security__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.payment-container .text-security__link:hover {
    color: #ff033d;
}

.payment-container input.error {
    border: 2px solid #ff032d;
}

.payment-container .email-error {
    color: #ff032d;
    font-size: 12px;
}

.payment-headline {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .payment-headline {
        font-size: 21px;
        text-align: center;
        margin-bottom: 32px;
    }
}

.payment-card {
    width: 276px;
    height: 332px;
    margin: 0 auto 20px auto;
    background: url(../img/card-new-mob.png) 0 0 no-repeat;
    position: relative;
    background-size: 276px 330px;
}
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .payment-card {
        background: url(../img/card-new-mob-retina.png) 0 0 no-repeat;
        background-size: 276px 330px;
    }
}
@media only screen and (min-width: 768px) {
    .payment-card {
        width: 500px;
        height: 302px;
        background: url(../img/card-new.png) 0 0 no-repeat;
        background-size: 500px 302px;
    }
}

@media
    only screen and (min-width: 768px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 768px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 768px),
    only screen and (        min-device-pixel-ratio: 2) and (min-width: 768px),
    only screen and (                min-resolution: 192dpi) and (min-width: 768px),
    only screen and (                min-resolution: 2dppx) and (min-width: 768px) {
    .payment-card {
        background: url(../img/card-new-retina.png) 0 0 no-repeat;
        background-size: 500px 302px;
    }
}

.payment-card input[type*='text'],
.payment-card input[type*='password'] {
    height: 40px;
    outline: none;
    background: white;
    padding: 0 15px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #d8d7d8;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.payment-card input[type*='text']:focus,
.payment-card input[type*='password']:focus {
    border-color: #4ac1ff;
    -webkit-box-shadow: 0 0 5px #4ac1ff;
    -moz-box-shadow: 0 0 0 5px #4ac1ff;
    box-shadow: 0 0  5px #4ac1ff;
}

.payment-card__number {
    width: 246px;
    top: 105px;
    left: 15px;
    padding: 0 24px;
    letter-spacing: 1.9px;
}

.payment-card__month {
    width: 50px;
    top: 182px;
    left: 15px;
    text-align: center;
    padding: 0 10px;
}

.payment-card__year {
    width: 50px;
    top: 182px;
    left: 81px;
    text-align: center;
    padding: 0 10px;
}

.payment-card__ccv {
    width: 95px;
    top: 182px;
    left: 165px;
}

.payment-card__name {
    width: 246px;
    top: 261px;
    left: 15px;
}

.payment-card input.error {
    border: 1px solid #dc9ea0;
    background: #ffe8eb;
}

.payment-card span {
    position: absolute;
    color: #9e0f0f;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    display: inline-block;
}

.payment-card span.cardNumber {
    top: 124px;
    left: 20px;
}

.payment-card span.expDateMonth {
    top: 136px;
    left: 251px;
    width: 55px;
}

.payment-card span.expDateYear {
    top: 136px;
    left: 327px;
    width: 55px;
}

.payment-card span.cvv {
    top: 180px;
    left: 434px;
    width: 77px;
}

.payment-card span.name {
    top: 300px;
    left: 20px;
}

.ico-security {
    width: 20px;
    height: 29px;
    background: url(../img/ico-security.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 5px;
    top: 10px;
    position: relative;
}

.payment-type-card {
    text-align: center;
}

.payment-type-card__item {
    width: 80px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
}

.payment-type-card__item:last-child {
    margin-right: 0;
}
.form-btn.form-btn--payment {
    display: block;
    width: 100%;
}

.payment-page {
    border: 1px solid #d3d3d3;
}
.payment-page__header {
    background-color: #ebf0f2;
    border-bottom: 1px dashed #e5e5e5;
    padding: 20px;
}
.payment-page__header h2 {
    font-weight: bold;
}

.top-info-when,
.top-info-tickets {
    font-size: 16px;
    float: left;
}
.top-info-tickets {
    float: right;
}
.top-info-tickets .big {
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .payment-page__header h2 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
    .top-info-date,
    .top-info-time,
    .top-info-when,
    .top-info-tickets,
    .top-info-tickets .big {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .payment-page__header {
        padding: 30px 55px;
    }
    .form-btn.form-btn--payment {
        margin: 40px 0 0;
    }
    .payment-card__number {
        width: 206px;
        top: 112px;
        left: 24px;
        padding: 0 15px;
        letter-spacing: normal;
    }

    .payment-card__month {
        width: 53px;
        top: 112px;
        left: 260px;
        text-align: center;
        padding: 0 10px;
    }

    .payment-card__year {
        width: 53px;
        top: 112px;
        left: 328px;
        text-align: center;
        padding: 0 10px;
    }

    .payment-card__ccv {
        width: 57px;
        left: 417px;
        top: 130px;
    }

    .payment-card__name {
        width: 357px;
        left: 24px;
        top: 209px;
    }
    .payment-card input[type*='text'],
    .payment-card input[type*='password'] {
        font-size: 14px;
        font-weight: 400;
    }
    .payment-card span.cardNumber {
        top: 154px;
        left: 29px;
    }

    .payment-card span.expDateMonth {
        top: 136px;
        left: 251px;
        width: 55px;
    }

    .payment-card span.expDateYear {
        top: 136px;
        left: 327px;
        width: 55px;
    }

    .payment-card span.cvv {
        top: 180px;
        left: 434px;
        width: 77px;
    }

    .payment-card span.name {
        top: 251px;
        left: 29px;
    }
}
@media screen and (min-width: 1024px) {
    .payment-page__header {
        padding: 27px 122px 8px;
    }
    .payment-page__header h2 {
        font-weight:bold;
        font-size: 24px;
        line-height: 1.33;
    }
    .top-info-when,
    .top-info-tickets {
        float: none;
        text-align: right;
    }
    .top-info-tickets {
        margin-top: 25px;
    }
}

/*--Loader--*/
.btn.btn-loading .btn-loader{
    bottom: 0;
}

.btn-loader {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background: rgba(158, 15, 15, .9);
    text-align: center;
    transition: all .3s;
}

.btn-loader__dots {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 0;
    margin-top: -3px;
}

.btn-loader__item{
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    margin-right: 3px;
    animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
    animation-duration:1.24s;
    -ms-animation-duration:1.24s;
    -webkit-animation-duration:1.24s;
    -moz-animation-duration:1.24s;
    animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circleG_1{
    animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#circleG_2{
    animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -moz-animation-delay:0.7s;
}

#circleG_3{
    animation-delay:1s;
    -ms-animation-delay:1s;
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
}

@keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-ms-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-webkit-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}

@-moz-keyframes bounce_circleG{
    50%{
        background-color: transparent;
    }
}
/*--end Loader--*/

/*--FOrm-registration---*/

.form-registration {
    width: 460px;
    margin: auto;
}
.form-registration label {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    font-weight: normal;
    color: #666;
    text-align: left;
    padding-right: 15px;
    padding-top: 7px;
}
.form-registration input {
    display: inline-block;
    vertical-align: top;
    width: 303px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 0;
}
.form-registration .form-group {
    position: relative;
    width: 457px;
}
.form-registration .password-strength {
    position: absolute;
    top: 7px;
    left: 100%;
    margin-left: 15px;
    margin-top: 0;
}
.form-registration .btn {
    line-height: 26px;
    font-size: 18px;
    padding: 6px 20px;
    transition: all .3s;
}
.form-registration div.password-strength {
    display: none;
}
.form-registration div.password-confirm {
    position: absolute;
    top: 7px;
    left: 100%;
    margin-left: 15px;
    margin-top: 0;
    display: none;
}
.form-registration .password-suggestions {
    display: none!important;
}
.form-registration p.help-block {
    display: none;
}
.form-registration .form-type-password-confirm {
    margin-top: 40px;
}

.form-registration .wrap-btn {
    text-align: right;
    padding-right: 2px;
    margin-top: 30px;
}
.form-registration .btn {
    width: 100%;
    max-width: 303px;
}
.form-registration .form-wrap-btn .btn {
    width: 100%;
}
.link-conditions {
    color: black;
    font-size: 14px;
    margin-top: 14px;
    padding-right: 3px;
}
.link-conditions a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}
.link-conditions a:hover {
    text-decoration: none;
}
.form-registration div.error {
    background: transparent;
}
.form-registration .error input {
    background-color: #f2dede;
    border-color: #b94a48;
}
.link-black {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}
.link-black:hover {
    text-decoration: none;
}
.form-group-wrap {
    padding-right: 0;
}
.title-reset-pass{
    margin-bottom: 20px;
    text-align: center;
}

/*form errol*/
.form-registration .parsley-errors-list{
    position: absolute;
    left: 100%;
    top: 10px;
    color: #b94a48;
    font-size: 13px;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}
.form-registration .label-min-length {
    position: absolute;
    left: 100%;
    top: 9px;
    color: black;
    font-size: 13px;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}
input[type='text'].parsley-error,
input[type='email'].parsley-error,
input[type='password'].parsley-error,
input[type='number'].parsley-error{
    background-color: #f2dede;
    border-color: #b94a48;
    box-shadow: none;
}

.parsley-equalto {
    padding-left: 25px;
    position: relative;
}
.parsley-equalto:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/ico-close.png) 0 0 no-repeat;
}
/*end form error*/
.form-registration {

}
.form-registration-reset label {
    display: none;
}
.form-registration-reset .wrap-btn {
    text-align: left;
}
.form-registration-reset .form-group {
    width: 100%;
    max-width: 303px;

}
.form-registration-reset .parsley-required {
    margin-left: 10px;
}
.form-registration-reset {
    width: 100%;
    max-width: 303px;

}
.form-registration-reset .btn {
    width: 100%;
    max-width: 303px;
}
.wrap-parsley-success:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 10px;
    background: url(../img/ico-sucess.png) 0 0 no-repeat;
    width: 20px;
    height: 15px;
    display: block;
}
.form-registration .wrap-parsley-success:after {
    margin-left: 10px;
}
.wrap-parsley-error .label-min-length,
.wrap-parsley-success .label-min-length{
    display: none;
}

/*--end FOrm-registration---*/

/*head-auth*/
.head-auth {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.head-auth__slash {
    margin: 0 8px;
    position: relative;
    top: -1px;
}
.head-auth__link {
    color: #222;
    font-size: 14px;
    text-decoration: underline;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
}
.head-auth__link:hover {
    text-decoration: none;
    color: white;
}
/*end head-auth*/

/*--Cabinet--*/
.c-menu {
    float: left;
    width: 243px;
    padding-right: 12px;
    margin-top: 40px;
}
.c-menu__item {
    margin-bottom: 30px;
}
.c-menu__title {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    display: block;
    margin-bottom: 20px;
    transition: all .3s;
}
.c-menu__title:focus {
    color: #333;
    text-decoration: none;
    outline: none;
}
.c-menu__title--active {
    color: #9E0E0F;
    text-decoration: none;
    cursor: default;
}
.c-menu__title--active:hover {
    color: #9E0E0F;
    text-decoration: none;
}
.c-menu__title--active .c-menu__name {
    text-decoration: none;
}
.c-menu__title:not(.c-menu__title--active):hover {
    text-decoration: none;
    color: #333;
}
.c-menu__title:hover .c-menu__name {
    text-decoration: none;
}
.c-menu__name {
    text-decoration: underline;
}
.c-menu__size {
    margin-left: 10px;
}
.c-menu__sub-item {
    padding-left: 18px;
    margin-bottom: 10px;
}
.c-menu__link {
    font-size: 16px;
    line-height: 19px;
    color: #333;
    text-decoration: underline;
}
.c-menu__link--active {
    color: #9E0E0F;
    text-decoration: none;
}
.c-menu__link:hover {
    text-decoration: none;
    color: #333;
}
.c-menu__count {
    font-size: 16px;
    line-height: 1;
    color: #9E0E0F;
    padding: 1px 10px;
    border-radius: 16px;
    margin-left: 4px;
}
.c-menu__sub-item:last-child .c-menu__count {
    color: #999;
}
.c-menu__sub-item:last-child .c-menu__count--bg {
    color: white;
}
.c-menu__count--bg {
    background: #9E0E0F;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}
.c-menu__statistic {
    width: 100%;
    max-width: 213px;
}

.orders-list {
    overflow: hidden;
    padding: 40px;
    border: 1px solid #d8d8d8;
}

.c-orders {
    margin-bottom: 40px;
}
.c-orders__title {
    margin-right: 35px;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 16px;
    line-height: 1;
}
.c-orders__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    transition: all .3s;
    border-radius: 4px;
    text-decoration: underline;
}
.c-orders__link:hover {
    text-decoration: none;
    color: #333;
}
.c-orders__link--active {
    text-decoration: none;
    background: #9E0E0F;
    color: white;
}
.c-orders__link--active:hover {
    color: white;
}

.cabinet-title {
    color: #333;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px;
    margin-top: 0;
}

.c-order {
    margin-bottom: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid #d8d8d8;
}
.c-order:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.c-order__header {
    margin-bottom: 20px;
}
.c-order__name {
    margin-bottom: 20px;
}
.c-order__name-link {
    color: black;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}
.c-order__name-link:hover {
    color: black;
    text-decoration: none;
}
.c-order__date {
    font-size: 16px;
    line-height: 1;
    color: #9E0B0C;
    margin-bottom: 10px;
}
.c-order__place-name {
    color: #333;
    margin-left: 10px;
}
.c-order__content {

}
.c-order__left {
    float: left;
    width: 250px;
}
.c-order__right {
    overflow: hidden;
    padding-left: 40px;
}
.c-order__img {
    width: 100%;
    margin-bottom: 15px;
}
.c-order__action {
    font-size: 16px;
    color: #9E0B0C;
}
.c-order__btn {
    display: block;
    margin-bottom: 10px;
}
.c-order__info {
    margin-bottom: 25px;
}
.c-order__number {
    float: left;
    font-size: 16px;
    margin-top: 8px;
}
.c-order__status {
    float: right;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    padding: 0 15px;
    min-width: 180px;
    color: white;
}
.c-order__status--yellow {
    background: #ffbd11;
}
.c-order__status--gray {
    background: #ccc;
}
.c-order__status--green {
    background: #8cc800;
}
.c-order__table {
    width: 100%;
}
.c-order__table th,
.c-order__table td {
    padding: 7px 8px;
    font-size: 14px;
    text-align: center;
}
.c-order__table th:first-child,
.c-order__table td:first-child {
    text-align: left;
    width: 270px;
}
.c-order__table th:last-child,
.c-order__table td:last-child {
    text-align: right;
}
.c-order__table th {
    color: #666;
    font-weight: normal;
}
.c-order__table td {
    color: #333;
}
tr.c-order__total td {
    background: #f2f2f2;
    color: #9E0B0C;
}
.c-order__table tr:nth-last-of-type(2) td {
    padding-bottom: 16px;
}
.c-order__table .c-order__ticket {
    text-align: left;
    padding-left: 24px;
}
.loading {
    position: relative;
    height: 10px;
    text-align: center;
}
.loading--margin-top {
    margin-top: 30px;
}
.loading .btn-loader__item {
    background: #9e0f0f;
}
/*--end Cabinet--*/

.main-logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 9px;
}
.main-logo__img {
    width: 195px;
}
.title-page {
    font-size: 24px;
    line-height: 28px;
    color: #333;
    margin-bottom: 30px;
    margin-top: 0;
}
.right-content {
    overflow: hidden;
    border: 1px solid #d8d8d8;
    padding: 40px 60px;
}

.line-form label {
    width: 133px;
    display: inline-block;
    float: left;
    padding-right: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #666;
    padding-top: 8px;
}
.line-form .form-radios {
    display: inline-block;
    vertical-align: top;
}
.line-form .form-radios .form-item {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-left: 0;
    margin-right: 8px;
}
.line-form .form-radios input {
    display: none;
}
.line-form .form-radios label {
    border: 1px solid #ccc;
    line-height: 38px;
    padding: 0 15px;
    border-radius: 4px;
    width: auto;
    min-width: 85px;
    text-align: center;
}
.line-form .form-radios input:checked ~ label {
    border-color: #b94a48;
}

.line-form .form-control {
    width: 318px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}
.line-form input.form-control {
    height: 40px;
}
.line-form .field-name-field-sex {
    margin-bottom: 16px;
}
.line-form .field-type-datetime {
    margin-bottom: 12px;
}
.line-form div.error {
    background: transparent;
}
.line-form div.error input.form-control {
    border-color: #b94a48
}
/*custom panel*/
.line-form legend.panel-heading {
    background: transparent;
}
.line-form .panel {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}
.line-form .panel-heading {
    border: none;
    display: inline-block;
    width: 133px;
    padding: 10px 15px 0 0;
    float: left;
    font-size: 14px;
    color: #666;
}
.line-form .panel-title {
    font-size: 14px;
}

.line-form .panel-body{
    display: inline-block;
    vertical-align: top;
    width: 318px;
    padding: 0;
}
.line-form .container-inline-date {
    width: 100%;
}
.line-form .form-item {
    display: block;
    margin-right: 0;
}
.line-form fieldset.date-combo .date-padding {
    padding: 0;
    float: none;
}

.line-form .form-item .form-item-field-date-of-birth-und-0-value-day {
    width: 84px;
    margin-right: 12px;
}
.line-form .form-item .form-item-field-date-of-birth-und-0-value-month {
    width: 117px;
}
.line-form .form-item .form-item-field-date-of-birth-und-0-value-year {
    width: 95px;
    float: right;
}
/**/

.no-strength .password-strength, .line-form .help-block {
    display: none;
}

.line-form .panel:after,
.line-form .panel:before {
    display: table;
    content: " ";
}
.line-form .panel:after {
    clear: both;
}

.jqselect.form-control {
    border: none;
    width: auto;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.line-form .jq-selectbox__select-text {
    max-width: 74px;
}
.form-item-field-date-of-birth-und-0-value-day .jq-selectbox__select-text {
    width: 40px;
}
.form-item-field-date-of-birth-und-0-value-month .jq-selectbox__select-text {
    width: 70px;
}
.form-item-field-date-of-birth-und-0-value-year .jq-selectbox__select-text {
    width: 50px;
}

.date-day ul {
    width: 282px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.date-day .jq-selectbox__dropdown {
    width: 282px;
    border: none;
    box-shadow: none;
    background: transparent;
}
.date-day ul li {
    width: 40px;
    height: 40px;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 0;
    background: white;
}
.date-day ul li:hover {
    background: #e4e4e4;
    color: #666;
}

.form-item-field-sex-und .jq-selectbox__select-text {
    width: 42px;
}

.line-form-btn {
    padding-left: 132px;
}
.line-form-btn .btn {
    display: inline-block;
    text-align: center;
    width: 318px;
}
.line-form-big-margin {
    margin-bottom: 50px;
    margin-top: 24px;
}

.valid-form .form-group {
    position: relative;
    width: auto;
}
.valid-form .label-min-length {
    position: absolute;
    left: 100%;
    top: 11px;
    color: black;
    font-size: 13px;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}
.valid-form div.password-confirm {
    display: none;
}
.valid-form .password-suggestions {
    display: none!important;
}
.form-container {
    width: 468px;
}

.valid-form .parsley-errors-list {
    position: absolute;
    left: 100%;
    top: 10px;
    color: #b94a48;
    font-size: 13px;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}

/*form auth*/
.buy-e-t-right h2.title-small {
    font-size: 18px;
}
.form-auth-sub {
    margin-bottom: 20px;
}
.form-wrap-btn {
    margin-top: 20px;
    padding-left: 156px;
}
.form-wrap-btn .btn {
    width: 280px;
}
.login-form.g-hide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.reg-form {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.no-label label {
    display: none;
}
.no-label .wrap-btn {
    text-align: left;
}
.no-label .form-wrap-btn {
    padding-left: 0;
}
.no-label .form-group {
    width: 294px;
}
.contact-form--hide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.wrap-link-purchase {
    margin-top: 25px;
}
.link-purchase {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}
.link-purchase:hover {
    text-decoration: none;
}
.g-show {
    display: block;
    position: relative;
    opacity: 1;
    visibility: visible;
}
.contact-form .pole {
    display: none;
}
.contact-form input {
    border-color: #ccc;
}
.contact-form input:focus {
    border-color: #66afe9;
    outline: none;
}
.contact-form .checkbox-wrapper .checkbox {
    border-color: #ccc;
    margin-right: 5px;
}
.wrap-btn-contact {
    margin-top: 35px;
}
.wrap-btn-contact .btn {
    width: 289px;
}
.header-left {
    display: inline-block;
    vertical-align: top;
    width: 216px;
    float: left;
    margin-right: 35px;
    padding-left: 16px;
}
.header-center {
    display: inline-block;
    vertical-align: top;
    width: 520px;
    float: left;
    position: relative;
}
.header-right {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    float: right;
}
.header-right .telephone {
    text-align: right;
    padding-right: 16px;
}
@media screen and (max-width: 1200px) {
    /*header*/
    .header-left {
        width: 212px;
        margin-right: 8px;
        padding-left: 16px;
    }
    .header-center {
        width: 520px;
    }
    .header-right {
        width: 205px;
    }
    .head-auth__link {
        max-width: 107px;
    }
    .navbar.container>.container {
        margin: auto;
        padding: 0 15px;
        width: 970px;
    }
    .buy-electron-ticket .form-registration .label-min-length {
        display: block;
        position: static;
        margin-top: 5px;
        margin-left: 0;
    }
}
@media screen and (max-width: 992px) {
    .slider-header-1, .slider-header {
        display: none;
    }
    .main-logo {
        margin-top: 10px;
    }
    .header-container .log {
        left: 0;
    }
    /*.header-slider {
        display: none;
    }*/
    .telephone {
        /*text-align: right;*/
        padding-right: 15px;
    }
    .navbar.container>.container {
        width: 750px;
    }
    .head-auth {
        padding-right: 15px;
    }

    /*forms*/
    .line-form label {
        display: block;
        float: none;
        width: auto;
    }
    .line-form .panel-heading {
        display: block;
        float: none;
        width: auto;
    }
    .line-form input.form-control {
        display: block;
    }
    .form-container {
        width: auto;
    }
    .line-form-big-margin {
        padding-left: 0;
    }
    .buy-electron-ticket .parsley-errors-list {
        display: block;
        position: static;
        margin-top: 5px;
        text-align: left;
    }
    .buy-electron-ticket .form-registration .form-group {
        width: 280px;
    }
    .buy-electron-ticket .form-registration .label-min-length {
        display: block;
        position: static;
        margin-top: 5px;
    }
    .buy-electron-ticket .wrap-parsley-error .label-min-length {
        display: none;
    }
    .buy-electron-ticket .wrap-parsley-success .label-min-length {
        display: block;
    }
    .buy-electron-ticket .wrap-parsley-success:after {
        left: auto;
        right: 34px;
        top: 44px;
    }
    .buy-electron-ticket .parsley-equalto:before {
        display: none;
    }
    .buy-electron-ticket .parsley-equalto {
        padding-left: 0;
    }
    .buy-e-t-right .form-block {
        width: 289px;
    }
    .buy-e-t-right .wrap-btn-contact .btn {
        width: 100%;
    }
    /*lc*/
    .c-order__left {
        float: none;
    }
    .c-order__right {
        padding-left: 0;
    }
    .orders-list {
        padding: 25px;
    }

    /*header*/
    .header-left {
        width: 212px;
        margin-right: 8px;
        padding-left: 16px;
    }
    .header-center {
        width: 520px;
    }
    .header-right {
        width: 325px;
    }
    .head-auth__link {
        max-width: 238px;
    }
    .stock__img img {
    	width: 100%;
    }
}
@media screen and (max-width: 767px) {
	.region-slider-head img {
		width: 100%;
		height: auto;
	}

    .main-head {
        height: auto;
    }
    .main-logo {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .header-container .log a{
        display: block;
        margin-top: 8px;
    }
    .header-container .log a img {
        padding-top: 0!important;
    }
    .main-logo__img {
        width: 160px;
    }
    .header-right {
        padding-top: 10px;
        text-align: left;
    }
    .telephone {
        padding-top: 10px;
        /*text-align: left;*/
    }
    .head-auth {
        margin-top: 10px;
        text-align: center;
    }

    /*forms*/
    .link-conditions,
    .link-conditions a {
        font-size: 12px;
    }
    .form-group-wrap {
        padding-right: 0;
    }
    .form-registration {
        width: 256px;
    }
    .form-registration .form-group {
        width: 100%;
    }
    .buy-electron-ticket .form-registration {
        margin: 0;
    }
    .buy-electron-ticket .form-registration,
    .buy-electron-ticket .form-registration .form-group {
        width: 256px;
        max-width: 100%;
    }
    .buy-e-t-right {
        text-align: left;
    }
    .form-registration label {
        display: block;
        width: auto;
    }
    .form-registration .form-control {
        display: block;
        padding-right: 31px;
    }
    .form-registration .parsley-errors-list,
    .line-form .parsley-errors-list {
        display: block;
        position: static;
        margin-top: 5px;
        text-align: left;
    }
    .form-registration .label-min-length,
    .line-form .label-min-length{
        display: block;
        position: static;
        margin-top: 5px;
    }
    .wrap-parsley-error .label-min-length {
        display: none;
    }
    .wrap-parsley-success .label-min-length {
        display: block;
    }
    .wrap-parsley-success:after {
        left: auto;
        right: 10px;
        top: 44px;
    }
    .parsley-equalto:before {
        display: none;
    }
    .parsley-equalto {
        padding-left: 0;
    }
    .buy-electron-ticket {
        padding: 30px 12px!important;
    }
    .form-item {
        text-align: left;
    }
    .form-registration input.form-control {
        width: 256px;
    }
    .form-registration .btn {
        width: 100%;
        max-width: 256px;
    }
    .form-wrap-btn .btn {
        width: 100%;
        max-width: 256px;
    }
    .wrap-btn-contact .btn {
        width: 255px;
    }
    .c-menu {
        float: none;
        width: auto;
    }
    .right-content {
        padding: 20px 15px;
    }
    .line-form-btn .btn {
        width: 100%;
        max-width: 318px;
    }
    .container-inline-date .form-item .form-item {
        float: none;
        margin-bottom: 10px;
    }
    .line-form .form-item .form-item-field-date-of-birth-und-0-value-year {
        float: none;
    }
    .date-day .jq-selectbox__dropdown {
        width: 248px;
    }
    .date-day ul {
        width: 248px;
    }
    .date-day ul li {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .btn-group-margin {
        float: none!important;
    }
    .btn-group-margin .btn {
        margin-right: 0;
        margin-bottom: 10px;
        min-width: 188px;
        display: block;
        max-width: 325px;
    }
    /*lc*/
    .orders-list {
        padding: 25px 10px;
    }
    .c-order__number {
        float: none;
        display: block;
    }
    .c-order__status {
        display: block;
        margin-top: 10px;
        width: 100%;
        padding: 0 4px;
        float: none;
        max-width: 250px;
        font-size: 13px;
    }

    .header-left {
        display: block;
        float: none;
        width: auto;
        padding-left: 0;
    }
    .header-center {
        display: block;
        float: none;
        width: auto;
    }
    .header-right {
        display: block;
        float: none;
        width: auto;
    }
    .head-auth__link {
        max-width: 178px;
    }
    .navbar.container>.container {
        width: auto;
    }
    .form-registration .wrap-btn {
        padding-right: 0;
    }
}
input.placeholder,
textarea.placeholder {
    color: #999;
}
.page-header + .region-content {
    margin-top: 0px;
}
.title-no-order {
    font-size: 16px;
    font-weight: 400;
}


.view-afisha-paginator {
	text-align: center;
	padding: 5px 0;
    margin-bottom: 20px;
}

.view-afisha-paginator .item-list ul li {
	margin: 0;
	padding: 0;
}

.view-afisha-paginator .pager {
	margin-top: -42px;
}

.view-afisha-paginator .pager .pager-next a{
	float: right;
}

.view-afisha-paginator .pager .pager-previous a{
	float: left;
}

.view-afisha-paginator .pager .pager-current {
	display: none;
}

.view-id-afisha_paginator .views-summary {
display: inline-block;
padding-left: 0;
margin-bottom: 5px;
border-radius: 4px;
}

.view-id-afisha_paginator .views-summary>li {
display: inline;
}

.view-id-afisha_paginator .views-summary>li:first-child>a, .view-id-afisha_paginator .views-summary>li:first-child>span {
margin-left: 0;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
}

.view-id-afisha_paginator .views-summary>li:last-child>a, .view-id-afisha_paginator .views-summary>li:last-child>span {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.view-id-afisha_paginator .views-summary>li>a, .view-id-afisha_paginator .views-summary>li>span {
position: relative;
float: left;
padding: 5px 10px;
font-size: 14px;
margin-left: -1px;
line-height: 1.428571429;
text-decoration: none;
    background-color: #424a59;
/*background-color: #4f6c70;*/
border: 1px solid #ddd;
}

.view-id-afisha_paginator .views-summary li a {
    color: #fff;
}

.view-id-afisha_paginator .views-summary .active, .view-id-afisha_paginator .views-summary .active a:hover, .view-id-afisha_paginator .views-summary .active a:focus {
z-index: 2;
color: #4f6c70;
background-color: #dddddd;
border-color: #fff;;
cursor: default;
}

.funny-red-line-sm {
height: 6px;
background-color: #9e0f0f;
}

.view-id-afisha_paginator .views-field-field-image .grayscale img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.view-id-afisha_paginator .views-field-field-image .grayscale img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

/*Залы дома музыки*/

.halls {
    text-align: center;
    position: relative;
    margin: 13px 0px;
    

}

.halls:hover .halls__title {
    box-shadow: 0px 8px 24px rgba(0,0,0,0.25);
    height: 100%;
}

.halls img {
    width: 100%;
}

.halls a {
    color: #fff;
}

.halls a:hover {
    color: #fff;
    text-decoration: none;
}



.halls__title {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.64);
    width: 100%;
    font-size: 19px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.halls__title_position {
    display: table;
    height: 100%;
    width: 100%;
}

.halls__title_position1 {
    display: table-cell;
    vertical-align: middle;
}

.halls__img {

}
.halls__img img {
    width: 100%;
    height: auto;
}

/* Конец Залы дома музыки*/


.foto-event-iner1 .field-item img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        padding: 4px;
        line-height: 1.428571429;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin-bottom: 20px;
    }

.views-field-field-img-fest img {
    display: inline-block;
        height: auto;
        max-width: 100%;
        padding: 4px;
        line-height: 1.428571429;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin-bottom: 20px;
        text-align: center;
}

.views-field-field-img-fest img:hover {
    -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
       transform: scale(1.1);
}

.views-field-field-img-fest {
    text-align: center;
}




/* ----------------------------------------------------------------------------------------


/*Циклы*/
.sikle {
    position: relative;
}

.views-field-field-img-cycles {
    position: absolute;
}

.cycles {
    position: relative;
}

.cycles-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.83);
    text-align: center;
    padding: 5px 0px;
    font-weight: bold;
}

.cycles-img img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.cycles-all img{
    width: 100%;
    padding: 10px;
}

.sikli-aksia {
        /*padding-top: 5px;*/
    padding-bottom: 10px;
    font-style: italic;
    font-size: 13px;
    font-weight: 600;
    color: #424a5a;
}
/*конец*/


.new_header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 3px;
}
.new_header_info{
  text-align: right;
}
.new_phone{
    font-size: 21px;
    font-family: 'GIL';
    color: #373a3e;
    font-weight: 600;
}
.new_phone:hover{
    color:#9e0f0f;
    text-decoration: none;
}

.new_lk,.new_search,.new_lang{
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    text-decoration: underline;
    color: black;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-transform: uppercase;
}
.new_lk:hover,.new_search:hover,.new_lang a:hover,
.new_lk:focus,.new_search:focus,.new_lang a:focus,
.new_lk:active,.new_search:active,.new_lang a:active{
    color:#9e0f0f;
}
.new_search:hover{
    text-decoration: none;
}

.new_search{
    text-decoration: none;
    color: #00000099;
}
.new_lang{
    text-decoration: none;
    padding-left: 22px;
}
.new_lang .active{
    text-decoration: underline;
}
.fa-search:before {
    font-size: 15px;
}
.bx-wrapper {
 border: 0px!important;
}
#block-calenrad-events-calenrad-events .block-title {
    color: #424a5b;
    letter-spacing: 4px;
    font-size: 24px;
    padding-top: 0px;
}
#block-calenrad-events-calenrad-events .filter_wrap .form-radios div label {
    text-decoration: none;
    font-size: 18px;
}

#block-calenrad-events-calenrad-events .filter_wrap {
    margin-bottom: 50px;
}


#block-calenrad-events-calenrad-events .filter_wrap .form-radios input:checked + label{
    width: 100%;
    display: inline-block;
    height: 28px;
    line-height: 19px;
    padding: 4px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
}

#block-calenrad-events-calenrad-events .group {
    border-right: 1px solid #838680;
}
#block-calenrad-events-calenrad-events .group:last-child {
    border-right: none;
}
.views-field.views-field-field-data-event strong {
    font-family: 'HelveticaNeue Medium';
    display: block;
    /*color: #838580;*/
    color: #647087;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

#calenrad_events_form_ajax_wrap span.date-display-single {
    font-family: 'HelveticaNeue Medium';
    margin-left: -11px;
    font-size: 16px;
    /*color:black;*/
    color: #647087;
    font-weight: 400;
}
.views-field.views-field-field-nazvanie-test .field-content{
    font-family: 'HelveticaNeue Medium';
    font-size: 16px;
    color:black;
    font-weight: 400;
}
#block-calenrad-events-calenrad-events .views-field-view-node a{
    font-family: 'HelveticaNeue Medium';
    font-size: 15px;

    text-transform: capitalize;
    color:#c1b5b5;
    font-weight: 400;
}
footer .contextual-links-region>div>div.row.hidden-xs.hidden-sm>div{
    padding: 0;
}
footer .contextual-links-region>div>div.row.hidden-xs.hidden-sm>div:first-child{
    padding-left: 15px;
}
footer .contextual-links-region>div>div.row.hidden-xs.hidden-sm>div:last-child{
    padding-right: 15px;
}
footer ul.list-unstyled li a{
    color:#d7d7d7;
    text-decoration: none;
}
footer ul.list-unstyled li a:hover{
    color:#d7d7d7;
    text-decoration: underline;
}
footer ul.list-unstyled li strong{
    font-family: 'HelveticaNeue Medium';
    font-size: 16px;
    color:white;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
footer hr {
    border-top: 2px solid #eee;
}
footer #block-block-1 hr{
    display: none;
}
footer #block-block-1 .col-md-12{
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    color:#d7d7d7;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
footer #block-block-1 .col-md-12 a{
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    color:#d7d7d7;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: none;
}
footer .col-md-2.col-sm-2.col-xs-12 h4{
    text-transform: uppercase;
    font-family: 'HelveticaNeue Medium';
    font-size: 16px;
    color: white;
    font-weight: 400;
}
footer {
     padding-bottom: 0px;
}
.headr-content-top font b{
    color:#d7d7d7!important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-decoration: none;
}
.headr-content-top font b a{
    color:#d7d7d7!important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-decoration: none;
}
.headr-content-top {
    background-color: #424a5a;
    border: 1px solid #383a3e;
    border-radius: 0;

}
.form-type-select.form-item.form-group {
    background: transparent;
    background-position: 95% 50%;
    /*border-radius: 5px;*/
    margin-right: 2%;
    margin-bottom: 20px;
    width: 220px;
    height: 30px;
}
.form-type-select.form-item.form-group>select.form-control.form-select:active,
.form-type-select.form-item.form-group>select.form-control.form-select:focus {
    background-color:#d7d7d7;
}
select.form-control.form-select > option {
    /*background-color: green;*/
    border: 0;
    /*background-image: url(images/option.png);*/
    padding-right: 15px;
    height: 31px;
    width: 220px;
}
/*select.form-control.form-select > option:nth-child(1) {*/
    /*background-color:yellow;*/
/*}*/
/*select.form-control.form-select > option:nth-last-child {*/
    /*background-color:black;*/
/*}*/
.form-type-select.form-item.form-group> select.form-control.form-select {
    color:#000000!important;
    font-size: 16px;
    /*font-weight: 400;*/
    letter-spacing: 1.3px;
    text-decoration: none;
    width: 100%;
    background: transparent;
    border: 0;
    overflow: hidden;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
}

#block-calenrad-events-calenrad-events .filter_wrap select {
    /*padding: 4px 10px;*/
    text-align: center;
    border: 2px solid #d7d7d7;
    border-radius: 0;
}
.form-type-select.form-item-month.form-item.form-group> select.form-control.form-select {
    color:#000000!important;
    font-size: 16px;
    /*font-weight: 400;*/
    letter-spacing: 1.3px;
    text-decoration: none;
    /*width: 100%;*/
    width: auto;
    background: transparent;
    border: 0;
    overflow: hidden;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*padding: 4px 19px!important;*/
    text-transform: uppercase;
}
#block-calenrad-events-calenrad-events .filter_wrap .form-item-year {
    /*width: 75px!important;*/
    width: auto;
}
#block-calenrad-events-calenrad-events .filter_wrap .form-item-month {
    /*width: 105px!important;*/
    width: auto;

}
/*#block-calenrad-events-calenrad-events .filter_wrap .form-radios input:hover + label {*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*height: 28px;*/
    /*line-height: 19px;*/
    /*padding: 4px;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*background: #51697e;*/
    /*background-position: -5px 21px;*/
    /*padding-bottom: 17px;*/
/*}*/
#form_search{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    /*position: absolute;*/
    /*left: -130px;*/
    /*bottom: 0px;*/
    /*width: 300px;*/
}
#form_search input:focus,#form_search_mobile input:focus,#form_search_mobile button:focus{
    outline:none;
}
#newplaceholder{
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-weight: 200;
    color: #424a59;
    position: absolute;
    top: 0;
    /*right: 60%;*/
    left:0%;
    transition: color 0.3s,top 0.3s,right 0.3s, bottom 0.3s, font-size 0.3s;
}
#newplaceholder.open{
    right: 12px;
    bottom: -6px;
    font-size: 16px;
    transition: color 0.3s,top 0.3s, right 0.3s, bottom 0.3s, font-size 0.3s;
    top: auto;
    left: auto;
    color: rgba(66, 74, 89, 0.5);
}

#form_search input{
    color: #424a59;
    width: 100%;
    font-family: "Helvetica Neue";
    font-weight: 200;
    border: none;
    background: transparent;
    font-size: 24px;
    border-bottom: 1px solid rgba(66, 74, 89, 0.5);
}
#form_search button{
    padding-left: 0px;
    padding-right: 0px;
}
#form_search form{
    padding: 0;
    position: relative;
}
#form_search.open {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}
.navbar-toggle {
    margin-right: 0px;
}
#form_search_mobile button.navbar-toggle{
    padding: 0;
    margin: 0;
}
#form_search_mobile input{
    background-color: #3b404c;
    border: none;
    color: white;
    padding: 0 10px 0 16px;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    min-height: 42px;
}
#form_search_mobile button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    right: 6px;
    top: 18%;
}
#form_search_mobile .fa-search:before {
    color:white;
    font-size: 25px;
    line-height: 25px;
}
#form_search_mobile{
    width: 88%;
    margin-left: 2%;
    display: flex;
    position: relative;
}
.muted img{
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}
ul.bxslider a img{
    width: 100%;
}

.visible-sm-up{
    display: none;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 42px;
    height: 5px;
    border-radius: 1px;
    background-color: #fff!important;
}


.new_container{
    padding-right: 62px;
    padding-left: 62px;
}
.new_flags img{
    padding: 5px;
    box-sizing: content-box;
}
.new_logo img{
    max-width:100%;
}
@media (max-width: 1200px) {
    .new_phone {
        font-size: 18px;
    }
    ul.bxslider a img {
        height: 350px;
    }
    ul.bxslider {
        height: 350px;
    }
}
@media (max-width: 991px) {
    .new_container{
        padding-right: 48px;
        padding-left: 48px;
    }
    ul.bxslider a img {
        height: 300px;
    }
    ul.bxslider {
        height: 300px;
    }
}
@media (min-width: 768px){
    .visible-sm-up {
        display: none!important;
    }
}
@media (max-width: 767px){
    #menu .navbar-default {
        border: none;
        margin-bottom: 6px;
    }
    .new_container{
        padding-right: 32px;
        padding-left: 32px;
    }
    .navbar-collapse {
        border-top: none;
    }
    .navbar-nav {
        margin: 0;
    }
    .hidden-sm-down{
        display: none;
    }
    .visible-sm-up{
        display: block;
    }
    #form_search{
        display: none;
    }
    #block-block-25{
        text-align: center;
        padding-top: 2px;
    }
    .navbar-default .navbar-toggle {
         border-color: transparent;
    }
    .navbar {
        margin-bottom: 6px;
    }
    .form-type-select.form-item.form-group {
        width: auto;
        /*width: 50px;*/
    }
    #block-calenrad-events-calenrad-events .group {
        border-right: none;
    }
    .views-field.views-field-field-data-event strong {
         margin-bottom: 0px;
        margin-top: 10px;
        /*color: #5d7983;*/
        font-weight: 600;
        color: #424a59;
        display: inline-block;
        text-transform: inherit;
        letter-spacing: 0.8px;
    }
    #calenrad_events_form_ajax_wrap span.date-display-single {
        color: #424a59;
        padding-left: 0px;
        margin-left: -13px;
    }
    #block-calenrad-events-calenrad-events .view-display-id-block_1 {
        background-color: #ffffff;
        padding: 7px 17px;
    }
    #block-calenrad-events-calenrad-events .filter_wrap {
        margin-bottom: 10px;
    }
    .search_mobile{
        max-width: 70%;
    }
    .new_logo.visible-sm-up img{
        max-width: 100%;
    }
    .navbar-header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 0;
    }
    .new_search_block{
        width: 65%;
        float: left;
    }

    #block-calenrad-events-calenrad-events .views-row + .views-row {
        margin: 0;
        padding: 0;
    }
    #block-calenrad-events-calenrad-events .views-row + .views-row:after {
        height: 0px;
    }
    .headr-content-top {
        margin: 0 0 16px 0;
    }
    .block-calenrad-events h2:before, .block-calenrad-events h2:after {
        height: 4px;
        background: #424a5a;
        border: solid #424a5a;
    }
    .new_header_container {
        align-items: flex-start;
    }
    .view-afisha-paginator .pager {
        margin-top: 0px;
    }
}
@media (max-width: 510px){
    .new_deparatament .region.region-logo a,.new_deparatament .region.region-logo a img{
        width: 100%;
    }
    .new_deparatament{
        width: 40%;
    }
    .new_logo.visible-sm-up img {
        width: 90%;
    }
}
.event-video {
    width: 100%;
}
.event-video iframe {
    width: 100%!important;

}
.title-long {
    margin-bottom: 25px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
}
.halls:hover .halls__title_position1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.halls:hover a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group .views-row strong{
    display: none;
}
.group .views-row:first-child strong{
    display: block;
}
#block-calenrad-events-calenrad-events .filter_wrap {
    margin-bottom: 0px;
}
li.leaf a[title='info']{
    /*font-size:0;*/
    /*padding-bottom: 0;*/
    /*padding-top: 10px;*/
    padding-bottom: 12px;
    padding-top: 13px;
    padding-left: 6px;
    padding-right: 6px;
    /*text-transform: capitalize;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
li.leaf a[title='info']:before{
    background-image: url(/sites/all/themes/mmdm_theme/images/info.png);
    /*background-size: 30px 30px;*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
    margin-right: 5px;
}
li.leaf a[title='video']{
    /*font-size:0;*/
    /*padding-bottom: 0;*/
    /*padding-top: 10px;*/
    padding-left: 37px;
}
li.leaf a[title='video']:before{
    background-image: url(/sites/all/themes/mmdm_theme/images/camera.png);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
}
li.leaf a[title='video_en']{
    font-size:0;
    /*padding-bottom: 0;*/
    /*padding-top: 10px;*/
    padding-left: 107px;
}
li.leaf a[title='video_en']:before{
    background-image: url(/sites/all/themes/mmdm_theme/images/camera_en.png);
    background-size: 99px 21px;
    display: inline-block;
    width: 99px;
    height: 21px;
    content: "";
    position: absolute;
    top: 16.2px;
    left: 8px;
}
.dropdown-menu {
    background-color: #424a59 !important;
}
#calenrad_events_form_ajax_wrap .view-content{
    display: flex;
}

.last.leaf.muvis-link{
    display: none;
}
.region.region-logo-main>section>a{
    width: 100%;
    display: block;
    text-align: right;
}
.nadkul{
    display: -webkit-box;
}
.home-event-list.new_col_iz{
    color:#8c4343;
}
.btn-event-out.new_out{
    border: 1px solid #cc0404 !important;
    background: #fd0303;
}
.new_wrapper_out{
    margin-right: 20px;
}
.new_wrapper_out .pull-right{
    background: #D22B29;
    transform: rotate(-10deg);
}
.new_wrapper_out .pull-right .new_out{
    border: 1px solid #f6f1f1 !important;
    background: #d22b2c;
    border-radius: 0;
    margin: 7px;
    font-size: 9px;
    cursor: default;
}
.new_wrapper_out2 {
    margin-right: 30px;
}
.new_wrapper_out2 .pull-right{
    background: #d22b2c;
    transform: rotate(-15deg);
}
.new_wrapper_out2 .pull-right .new_out{
    border: 1px solid #f6f1f1 !important;
    background: #d22b2c;
    border-radius: 0;
    margin: 10px;
    cursor: default;
}
@media (max-width: 768px){
    #block-calenrad-events-calenrad-events .block-title {
        padding-top: 20px;
    }
    #calenrad_events_form_ajax_wrap .view-content{
        display: block;
    }
    .kultura__style {
        font-size: 0;
    }
    .kultura__style a {
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    .kultura__style img {
        width: 100%;
    }
    .region.region-logo-main>section>a{
        text-align: center;
    }
    #block-calenrad-events-calenrad-events {
        margin-bottom: 12px;
    }
    .btn-afzab {
        margin-bottom: 7px;
    }
    .new_wrapper_out {
        float: none;
        text-align: center;
        height: auto;
        margin-top: 7px;
        margin-bottom: 28px;
    }
    .new_wrapper_out .pull-right{
        float: none!important;
        text-align: center;
        width: auto;
        display: inline-block;
    }
}
.button_sale{
    display: inline-block;

    padding: 1px 12px;

    margin-bottom: 0;

    font-size: 14px;

    font-weight: normal;

    line-height: 1.428571429;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    cursor: pointer;

    background-image: none;

    border: 1px solid transparent;

    border-radius: 4px;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    -o-user-select: none;

    user-select: none;

    color: #fff;

    background-color: #9e0f0f;
}
.class_video .yashare-auto-init.pull-right.b-share_theme_counter{
 display: none;
}
#block-calenrad-events-calenrad-events .views-row + .views-row {
    margin: 4px 0 0;
    padding: 5px 0 0;
}


/*@media (min-width: 769px) {*/
    .class_video #node-6637 {
        display: none;
    }
    .class_video #node-6525 {
        display: none;
    }
    .class_video .page-header {
        padding-bottom: 0px;
    }
    .class_video #muvis-main{
        position: relative;
    }
    .class_video .muvis-translation-back{
        position: absolute;
        right: 1px;
        top: -30px;
    }
.view-display-id-block_1 .view-content .table-responsive {
display: none;
}
.calendar_day_active{
    background: gray;
}
.main-container .page-header{
    font-size: 30px;
}