==
<?php
function onstart(){
    $this['lang'] = 'ru';
    $this['seo_title'] = "";
    $this['seo_desc']  = "";
    $this['seo_key']   = "";
}
?>
==
<!DOCTYPE html>
<html lang="ru">
    {% partial 'header' %}
    {% styles %}

    <body>
<!--        <div class="yshi">-->
<!--            <div class="yshi-width-left">-->
<!--                <div class="yshi-left"></div>-->
<!--            </div>-->
<!--            <div class="yshi-width-right">-->
<!--                <div class="yshi-right"></div>-->
<!--            </div>-->
<!--        </div>-->
        {% partial 'header/header_menu' %}
        <div class="container" style="background: #ebebeb;">
            {% page %}
        </div>
        {% partial 'footer' %}
        {% framework %}
        {% scripts %}
    </body>
</html>