==
<div class="row">
    <div class="col tizer-block__col">
        <!-- BANNER PLACEMENT GOES HERE-->
        <div class="tizer-block__banner" data-mos-teaser='{ "scroll":false,"adaptive":null,"placementParams":{ "p1":"bxdrg","p2":"fpkh"}}'></div>
        <!-- BANNER PLACEMENT GOES HERE-->
        <div class="tizer-block__banner" data-mos-teaser='{ "scroll":false,"adaptive":null,"placementParams":{ "p1":"bxdrh","p2":"fpkh"}}'></div>
        <!-- BANNER PLACEMENT GOES HERE-->
        <div class="tizer-block__banner" data-mos-teaser='{ "scroll":false,"adaptive":null,"placementParams":{ "p1":"bxdri","p2":"fpkh"}}'></div>
        <!-- BANNER PLACEMENT GOES HERE-->
        <div class="tizer-block__banner" data-mos-teaser='{ "scroll":false,"adaptive":["phone","desktop"],"adaptiveOptions":{ "tabletWidth":1200,"phoneWidth":810},"placementParams":{ "p1":"bxdrj","p2":"fpkh"}}'></div>
    </div>
</div>