==
<?php

use Parotikovanton\Mmdm\Models\Banner;

function onstart(){
    $this['news_footer'] = Banner::limit(4)->get();
}
?>
==
<style>
    .cross_banners{
        display: flex;
        background: #b0afaf;
        margin: 10px 4px;
    }
    .cross_banners a{
        padding: 3px;
    }
</style>
{% if(news_footer) %}
    <div class="cross_banners">
        {% for item  in  news_footer  %}
                <a href="{{ item.href }}">
                    <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media/{{ item.img_url }}" width="300" height="450" alt="{{ item.alt }}" />
                </a>
        {% endfor %}
    </div>
{% endif %}
