[viewBag]

[staticMenu]
code = "footer_menu_ru"

[staticMenu staticMenu2]
code = "footer_menu_en"
==
<?php
use Parotikovanton\Mmdm\Models\Footer;
function onstart(){
    $footer = Footer::find(1);
    $this['banners'] = $footer->banners;
    $this['socials'] = $footer->socials;
    $this['menu'] = $footer['menu_'.$this['lang']];
    $this['bootstrap_menu'] = 12/count($this['menu']);
    $this['copyrighted'] = $footer['copyrighted_'.$this['lang']];
}
?>
==
<style>
    .footer {
        margin-top: 0px;

    }
    .footer a{
        text-decoration: none;
    }
</style>
<footer class="footer">
    <div class="region region-footer">
        <section id="block-block-6" class="block block-block clearfix">


            <div style="padding: 0 20px;">
                <!-- Культура -->
                <div class="row">

                    <div class="col-md-10 col-sm-10 col-xs-12" style="padding:0">
                        <div class="kultura__style">
                            {% for banner in banners  %}
                                <a href="{{ banner.href }}"><img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{ banner.image }}" width="1170" height="450" alt="{{ banner.alt }}" /></a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12" style="padding:0">
                        <p><h4 style="text-align: center;">#доммузыки</h4></p>
                        <p class="muted" style="text-align: center;">
                            {% for social in socials  %}
                                <a href="{{social.href}}" target="_blank">
                                    <img alt="facebook" src="/storage/app/media{{social.image}}" alt="{{ social.alt }}"/>
                                </a>
                            {% endfor %}
                            &nbsp;
                        </p>
                    </div>

                </div>
                <!-- Культура end -->
                <hr>
                <div class="row hidden-xs hidden-sm">
                
                     <div class="col-md-{{bootstrap_menu}} col-sm-{{bootstrap_menu}}">
                     
                        
                        
                         {% if lang == 'en' %}    
                             {% if staticMenu2.menuItems %}
                                <ul class="list-unstyled footer-li">
                                    {% partial staticMenu2 ~ "::footer_items" items=staticMenu2.menuItems %}
                                </ul>
                             {% endif %}
                        {% else %}   
                            {% if staticMenu.menuItems %}
                                <ul class="list-unstyled footer-li">
                                    {% partial staticMenu ~ "::footer_items" items=staticMenu.menuItems %}
                                </ul>
                            {% endif %}
                         {% endif %} 
                     </div>
                </div>
                <hr/ class="hidden-xs hidden-sm">
            </div>
        </section>
        <section id="block-block-1" class="block block-block clearfix">
            <div style="padding: 0 15px;">
                <div class="row">
                    <div class="col-md-12">{{copyrighted}}</div>
                </div>
            </div>
        </section>
    </div>
</footer>