title = 404
url = "/404"
layout = "main"
is_hidden = 0
==
<?php
use  Parotikovanton\Mmdm\Models\Page;




function onstart(){

}
?>
==
<h1>404 Страница не найдена</h1>
<p>Запрашиваемая страница не может быть найдена.</p>