title = "Афиша"
url = "/afisha"
layout = "main"
is_hidden = 0
==
<?php
function onstart(){

    $nowdata = now();

    $page_count_m = 5;
    $page         = 0;

    $year  =  \Carbon\Carbon::parse($nowdata)->format("Y");
    $month =  \Carbon\Carbon::parse($nowdata)->format("m");
    $day   =  1;
    $tz    =  'Europe/Moscow';

    $allEventstest =\Parotikovanton\Mmdm\Models\Event::orderBy('data_event')->where('data_event', '>', $nowdata )->get()
        ->groupBy(function($allEventstest) {
            return  \Carbon\Carbon::parse($allEventstest->data_event)->format('m Y');
        });

    $description = [];

    $Month = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];

    $datafilter = [];

    foreach ($allEventstest as $key => $value) {

        $description [] = "{$key} => {$value}";
        $data= $value[0]['data_event'];
        $m  = \Carbon\Carbon::parse($value[0]['data_event'])->format('n') ;
        $Y  = \Carbon\Carbon::parse($value[0]['data_event'])->format('Y') ;


        $stringData =  $Month[$m]." ".$Y ;
        $datafilter_item = [];

        $datafilter_item['data']   = $data;
        $datafilter_item['strdata']= $stringData;

        $datafilter[]  =$datafilter_item;


    }

    if(isset($_GET["year"]))  {
        if(isset($_GET["m"]))  {
         if($_GET["year"] !== "") {

             if($_GET["m"] !== "") {
                  $year  = $_GET["year"];
                  $month = $_GET["m"];
                  $day   = 1;
                  $tz    = 'Europe/Moscow';

             }
         }
        }
    }



    $datastart = \Carbon\Carbon::createFromDate($year, $month, $day, $tz);
    $dataend = \Carbon\Carbon::createFromDate($year, $month+1, $day, $tz)->subDays(1);

    $allEvents =\Parotikovanton\Mmdm\Models\Event::with(['hall'])->whereBetween('data_event', array($datastart, $dataend  ) )->get();

    $this['allevents'] = $allEvents;

    if(isset($_GET["page"])){
        if($_GET["page"] !== "") {
            $page = $_GET["page"];
        }  else {
            $page = 0;
        }
    }

    $nextdata  =  $datafilter;
    $backdata  =  $datafilter;

    $nextdata         =  array_splice($nextdata, ($page+1) * $page_count_m, $page_count_m);
    if($nextdata) {
        $this['nextdata'] = $nextdata[0]['data'];
    }

    $backdata         =  array_splice($backdata, ($page-1) * $page_count_m, $page_count_m);

    $l = count($backdata);

    if($backdata) {

        if ($backdata[$l - 1]) {
            $this['backdata'] = $backdata[$l - 1]['data'];
        }

    }

    $max_page = count($datafilter) / $page_count_m;

    $datafilter           =   array_splice($datafilter, $page * $page_count_m, $page_count_m);
    $this['filter_data']  =   $datafilter;
    $this['pageback']     =   $page -1;
    $this['pagenext']     =   $page +1;
    $this['max_page']     =   $max_page;
    $this['curent_page']  =   $page;

    $this['year_now']     =   $year;
    $this['m_now']        =   $month;

}
?>
==
{% set vMonth = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% set vDay = ['','Пнд','Вт','Ср','Чт','Пт','Сб', 'Вс'] %}







        <h1 class="page-header">Афиша</h1>
        <div class="region region-content">
            <section id="block-views-afisha-paginator-block-1" class="block block-views clearfix">


                <div class="view view-afisha-paginator view-id-afisha_paginator view-display-id-block_1 view-dom-id-8e136745dbfdf7307017ab7a793946c8">



                    <div class="view-content">
                        <div class="item-list">
                            <ul class="views-summary">


                                {% for filter_data_item  in  filter_data  %}

                                    <li>
                                        {% if year_now == filter_data_item.data|date("Y")  %}

                                            {% if m_now == filter_data_item.data|date("m")  %}
                                               <a class="active"   href="?page={{curent_page}}&year={{filter_data_item.data|date("Y")}}&m={{filter_data_item.data|date("m")}}" >{{filter_data_item.strdata}}</a>
                                            {%  else   %}
                                                 <a    href="?page={{curent_page}}&year={{filter_data_item.data|date("Y")}}&m={{filter_data_item.data|date("m")}}" >{{filter_data_item.strdata}}</a>
                                            {%  endif %}

                                        {%  else   %}
                                        <a    href="?page={{curent_page}}&year={{filter_data_item.data|date("Y")}}&m={{filter_data_item.data|date("m")}}" >{{filter_data_item.strdata}}</a>
                                        {%  endif %}

                                    </li>

                                {% endfor %}
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Октябрь 2018</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Ноябрь 2018</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Декабрь 2018</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Январь 2019</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Февраль 2019</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Март 2019</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Апрель 2019</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="?data=2018-09">Май 2019</a>-->
<!--                                </li>-->


                            </ul>
                        </div>
                    </div>

                    <ul class="pager">
                        {% if  pageback > -1  %}
                          <li class="pager-previous"><a href="?page={{pageback}}&year={{backdata|date("Y")}}&m={{backdata|date("m")}}">←</a></li>
                        {% endif %}

                           <li class="pager-current">1 из 2</li>

                        {% if  max_page >= pagenext  %}
                           <li class="pager-next"><a href="?page={{pagenext}}&year={{nextdata|date("Y")}}&m={{nextdata|date("m")}}">→</a></li>
                        {% endif %}
                    </ul>




                </div>
            </section>
            <section id="block-system-main" class="block block-system clearfix">


                <div class="view view-afisha-paginator view-id-afisha_paginator view-display-id-page view-dom-id-40e1d139a86ace418be97174bcc35488">



                    <div class="view-content">



                        {% for event  in  allevents  %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-1 col-sm-1 col-md-1">
                                        <div class="1">
                                            <div class="afisha__data1">{{event.data_event |date("d")  }}</div>
                                            <div class="afisha__data2">{{vMonth[event.data_event|date("n")]}} {{event.data_event |date("Y")}}    </div>
                                            <div class="afisha__data3">{{ vDay[event.data_event|date("w")]}}    </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11">
                                        <div class="row afishastyle">

                                            <div class="col-md-8 col-sm-8">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="img-thumbnail">
                                                            <a href="{{event.slug}}">
                                                                <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{event.main_img}}" width="150" height="100" alt="{{ lang == 'ru' ? event.title_ru  : event.title_en   }}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 text-left">
                                                        <div class="afishastyle-zag"><a href="{{event.slug}}">{{ lang == 'ru' ? event.title_ru  : event.title_en   }}</a></div> <br />
                                                        <div class="afishastyle-text">
                                                            <p>
                                                                {{ lang == 'ru' ? event.anons_ru | raw : event.anons_en | raw   }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                {{ lang == 'ru' ?  event.hall.title_ru :  event.hall.title_en    }}


                                                <br />
                                                <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{event.data_event}}">

                                                    {{event.data_event |date("H:i")  }}
                                                </span><br />
                                                <a href="{{event.slug}}"></a>

                                            </div>




                                            <div class="col-md-2 col-sm-2">
                                               {% if event.sold == false %}
                                                <div class="blosk-afisha-btn">

                                                    <div class="event-info-bay new_wrapper_out">
                                                        <div class="pull-right">
                                                            <div class="btn btn-event-out new_out">
                                                                Билеты проданы
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="blosk-afisha-btn">
                                                    <a href="/buy-ticket?eventId={{event.event_id}}"     class="btn-af"    >Купить билет</a>
                                                    <a href="/reserve-ticket?eventId={{event.event_id}}" class="btn-afzab" >Забронировать</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-fest">


                        {% endfor %}


                    </div>
                </div>
            </section>
        </div>

