title = "Купить билет"
url = "/buy-ticket"
layout = "main"
is_hidden = 0
==

<?php
function onstart()
{

    if(isset($_GET["eventId"])){
        if($_GET["eventId"] !== "") {
            $eventId= $_GET["eventId"];
        }  else {
            return \Illuminate\Support\Facades\Redirect::to('404');
        }
    }  else {
        return \Illuminate\Support\Facades\Redirect::to('404');
    }


    $event = \Parotikovanton\Mmdm\Models\Event::where( 'event_id' , $eventId )->first();

    if($event){
        $this['title']           = $event['title_'.$this['lang']];
        $this['data_event']      = $event['data_event'];
        $this['slug']            = $event['slug'];
    } else{
       return \Illuminate\Support\Facades\Redirect::to('404');
    }




}
?>

==

<h1 class="page-header">Покупка билета</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
        <h4 class="views-field views-field-title">
            <div class="top-info-date">
                {{data_event|date("d.m.Y")}}      </div>
            <div class="top-info-time">
                {{data_event|date("H:i")}}       </div>
            <hr style="margin-top: 4px; margin-bottom: 10px;">

            <span class="field-content"><a href="{{slug}}">{{title}}</a></span>
        </h4>
    </section>
</div>



