title = "Фестивали"
url = "/festivals"
layout = "main"
is_hidden = 0
==
<?php

function onstart(){

    $festivals = \Parotikovanton\Mmdm\Models\Festival::where('active' , 1 )->get();
    if($festivals){
        $this['festivals'] = $festivals;
    }
}
?>
==
<h1 class="page-header">Фестивали</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
        <div class="view view-fest view-id-fest view-display-id-page">

            <div class="view-content">
                {% for item  in  festivals  %}
                    <div class="views-row views-row-1">
                        <div class="views-field views-field-field-img-fest">
                            <div class="field-content">
                                <a href="{{item.slug}}">
                                    <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{item.image}}" width="840" height="259" alt="{{item.title_ru}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>