title = "Фестиваль"
url = "/festival/:slug"
layout = "main"
is_hidden = 0
==
<?php

function onstart(){


    $url =  $this->param('slug');
    $this['url']  = $url;
    $festival = \Parotikovanton\Mmdm\Models\Festival::where('slug', '/festival/'.$url)->first();

    if($festival){
        $this['title']   =  $festival['title_'.$this['lang']];

//        $this['seo_title'] = $hall['seo_title_'.$this['lang']];
//        $this['seo_desc']  = $hall['seo_desc_'.$this['lang']];
//        $this['seo_key']   = $hall['seo_key_'.$this['lang']];


    }

}
?>
==
<style>
    .boot_img img {
        max-width: 100%;
    }
</style>

    <h1 class="page-header">{{title}}</h1>


    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
            <div id="node-7093" class="node node-fest clearfix" about="/ru/content/ix-moskovskiy-rozhdestvenskiy-festival-duhovnoy-muzyki-0" typeof="sioc:Item foaf:Document">
                <span property="dc:title" content="{{title}}" class="rdf-meta element-hidden"></span>

                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even" property="content:encoded">
                                <div>


                                    <p>
                                    <button class="btn btn-default" data-target="#demo" data-toggle="collapse" type="button">Читать дальше</button>
                                    </p>


                                    <div class="collapse" id="demo">


                                    </div>



                                </div>
                                <!--<hr class="hr-fest" />--><!--<div class="col-md-12">-->
                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_border">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/rf_dlya_sayta_0.jpg" />
                                    </div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date">
                                            <strong>
                                                12 января 2019, 19.00
                                                <br />
                                                Светлановский зал
                                            </strong>
                                        </p>
                                        <p>
                                            <strong>Открытие</strong>
                                            <br />
                                            Состав участников и программа – дополнительно<br />
                                            &nbsp;</p>
                                    </div>


                                    <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                        <div class="pull-right" style="padding-top: 20px;">
                                            &nbsp;</div>
                                    </div>
                                </div>



                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_block">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/469597_original_2.jpg" /></div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date"><strong>17 января 2019, 19.00<br />
                                                Светлановский зал</strong></p>
                                        <p><strong>Хор московского Сретенского монастыря</strong><br />
                                            Регент – Никон Жила<br />
                                            Актриса театра и кино <strong>Елена Захарова</strong><br />
                                            &nbsp;</p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                        <div class="pull-right" style="padding-top: 20px;">
                                            <a class="btn btn-default" href="https://www.mmdm.ru/ru/events/hor-sretenskogo-monastyrya-vifleemskaya-zvezda-hiv-moskovskiy-rozhdestvenskiy-festival">Подробнее</a> <a class="btn btn-default" href="/buy-ticket?eventId=3497">Купить билет</a> <a class="btn btn-default" href="/reserve-ticket?eventId=3497">Забронировать</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_border">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/na_sayt_5.jpg" /></div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date"><strong>19 января 2019, 19.00<br />
                                                Светлановский зал</strong></p>
                                        <strong>Праздничный хор Спасо-Преображенского Валаамского монастыря</strong><br />
                                        Художественный руководитель –<br />
                                        <strong>Алексей Жуков</strong></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                        <div class="pull-right" style="padding-top: 20px;">
                                            <a class="btn btn-default" href="https://www.mmdm.ru/ru/events/hor-valaamskogo-monastyrya-ix-moskovskiy-rozhdestvenskiy-festival">Подробнее</a> <a class="btn btn-default" href="/buy-ticket?eventId=3419">Купить билет</a> <a class="btn btn-default" href="/reserve-ticket?eventId=3419">Забронировать</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_block">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/the_kings_singers_gold_credit_marco_borggreve_14_obrezannoe.jpg" /></div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date"><strong>23 января 2019, 19.00<br />
                                                Светлановский зал</strong></p>
                                        <p><strong>The King’s Singers (Великобритания)</strong><br />
                                            <strong>Лауреаты премии Grammy</strong><br />
                                            <br class="hid" />
                                            &nbsp;</p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                        <div class="pull-right" style="padding-top: 20px;">
                                            <a class="btn btn-default" href="https://www.mmdm.ru/ru/events/kings-singers">Подробнее</a> <a class="btn btn-default" href="/buy-ticket?eventId=3432">Купить билет</a> <a class="btn btn-default" href="/reserve-ticket?eventId=3432">Забронировать</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_border">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/djhztgexyaazy5z.jpg" /></div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date"><strong>26 января 2019, 19.00<br />
                                                Светлановский зал</strong></p>
                                        <strong>Норвежский королевский хор мальчиков</strong></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                        <div class="pull-right" style="padding-top: 20px;">
                                            <a class="btn btn-default" href="https://www.mmdm.ru/ru/events/norvezhskiy-korolevskiy-hor-malchikov">Подробнее</a> <a class="btn btn-default" href="/buy-ticket?eventId=3431">Купить билет</a> <a class="btn btn-default" href="/reserve-ticket?eventId=3431">Забронировать</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 boot_style boot_right_block">
                                    <div class="col-md-5 col-sm-12 col-xs-12 boot_img">
                                        <img src="https://www.mmdm.ru/sites/default/files/1024h683_2.jpg" /></div>
                                    <div class="col-md-7 col-sm-12 col-xs-12 boot_style boot_text">
                                        <p class="boot_text_date"><strong>27 января 2019, 19.00<br />
                                                Светлановский зал</strong></p>
                                        <p><strong>Закрытие</strong><br />
                                            Состав участников и программа – дополнительно</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 boot_style boot_button">
                                    <div class="pull-right" style="padding-top: 20px;">
                                        &nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field field-name-field-imf-contente field-type-list-boolean field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">

                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </section>
    </div>