title = "Залы"
url = "/halls"
layout = "main"
is_hidden = 0
==
<?php

function onstart(){

    $allHalls = \Parotikovanton\Mmdm\Models\Hall::all();

    if($allHalls){
        $this['allHalls'] =  $allHalls;
    }

}
?>
==
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">Залы</h1>
        <div class="region region-content">
            <section id="block-system-main" class="block block-system clearfix">
                <div class="view view-zaly-doma-myz view-id-zaly_doma_myz view-display-id-page">
                    <div class="view-content">
                        {% for hall  in  allHalls  %}
                        <div class="col-md-6">
                            <div class="halls">
                                <div class="halls__img"><a href="{{hall.slug}}"><img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{hall.main_img}}" width="535" height="334" alt="{{lang == 'ru' ? hall.title_ru  : hall.title_en}}"></a></div>
                                <div class="halls__title">
                                    <div class="halls__title_position">
                                        <div class="halls__title_position1">
                                            <a href="{{hall.slug}}"> {{ lang == 'ru' ? hall.title_ru  : hall.title_en   }}  </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>