title = "Залы"
url = "/halls/:slug"
layout = "main"
is_hidden = 0
==
<?php

function onstart(){


    $url =  $this->param('slug');
    $this['url']  = $url;
    $hall = \Parotikovanton\Mmdm\Models\Hall::where('slug', '/halls/'.$url)->first();

    if($hall){
        $this['hall']    =  $hall;
        $this['title']   =  $hall['title_'.$this['lang']];
        $this['content'] =  $hall['content_'.$this['lang']];
        $this['scheme_img']   =   $hall['scheme_img'];
        $this['tour']   =   $hall['tour'];

        $this['seo_title'] = $hall['seo_title_'.$this['lang']];
        $this['seo_desc']  = $hall['seo_desc_'.$this['lang']];
        $this['seo_key']   = $hall['seo_key_'.$this['lang']];


    }

}
?>
==


<h1 class="page-header">{{title}}</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">



        <div class="row">
            <div class="col-md-6">
                <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                    {% for img in  hall.images  %}
                        <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{img.img}}" width="1200" height="800" alt="{{img.alt_img}}" />
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div style="text-align: justify;">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>
                                           {{content}}

                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row" style="padding: 15px 0px;">
                    <div class="col-md-3" style="text-align: center;">
                        <div class="field field-name-field-scheme-hall field-type-text field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even"><p>
                                        <a class="fancybox btn-afzab" data-fancybox-group="gallery-page1" href="/storage/app/media{{scheme_img}}">Схема зала</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <div class="field field-name-field-tex-xarakter-url field-type-text field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <p>
                                        <a class="btn-afzab" target="_blanck" data-toggle="modal" data-target=".bs-example-modal-sm">Технические параметры</a>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-4" style="text-align: center;">
                        <div class="field field-name-field-virtual-tor field-type-text field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even"><p><a class="btn-afzab" target="_blanck" data-toggle="modal" data-target=".bs-example-modal-lg" >Панорамный тур</a></p>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    </section>
<section>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Технические параметры</h4>
                    </div>
                    <div class="modal-body">

                            <div class="field-item even dochalllist  " >
                                <ul class="">
                                    {% for doc in  hall.documents  %}
                                    <li>
                                        <a href="/storage/app/media{{doc.documents}}" download target="_blank">{{doc.namedoc}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>

        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Панорамный тур</h4>
                </div>
                <div class="modal-body">

<!--                    //Todo:  понять суть как это работает и потом перенсти все в отдельный компонент -->


                    <script language="JavaScript" type="text/javascript">
                        <!--
                        //v1.7
                        // Flash Player Version Detection
                        // Detect Client Browser type
                        // Copyright 2005-2008 Adobe Systems Incorporated.  All rights reserved.
                        var isIE  = (navigator.appVersion.indexOf("MSIE") != -1) ? true : false;
                        var isWin = (navigator.appVersion.toLowerCase().indexOf("win") != -1) ? true : false;
                        var isOpera = (navigator.userAgent.indexOf("Opera") != -1) ? true : false;
                        function ControlVersion() {
                            var version;
                            var axo;
                            var e;
                            // NOTE : new ActiveXObject(strFoo) throws an exception if strFoo isn't in the registry
                            try {
                                // version will be set for 7.X or greater players
                                axo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.7");
                                version = axo.GetVariable("$version");
                            } catch (e) {
                            }
                            if (!version)
                            {
                                try {
                                    // version will be set for 6.X players only
                                    axo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.6");

                                    // installed player is some revision of 6.0
                                    // GetVariable("$version") crashes for versions 6.0.22 through 6.0.29,
                                    // so we have to be careful.

                                    // default to the first public version
                                    version = "WIN 6,0,21,0";
                                    // throws if AllowScripAccess does not exist (introduced in 6.0r47)
                                    axo.AllowScriptAccess = "always";
                                    // safe to call for 6.0r47 or greater
                                    version = axo.GetVariable("$version");
                                } catch (e) {
                                }
                            }
                            if (!version)
                            {
                                try {
                                    // version will be set for 4.X or 5.X player
                                    axo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.3");
                                    version = axo.GetVariable("$version");
                                } catch (e) {
                                }
                            }
                            if (!version)
                            {
                                try {
                                    // version will be set for 3.X player
                                    axo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.3");
                                    version = "WIN 3,0,18,0";
                                } catch (e) {
                                }
                            }
                            if (!version)
                            {
                                try {
                                    // version will be set for 2.X player
                                    axo = new ActiveXObject("ShockwaveFlash.ShockwaveFlash");
                                    version = "WIN 2,0,0,11";
                                } catch (e) {
                                    version = -1;
                                }
                            }

                            return version;
                        }
                        // JavaScript helper required to detect Flash Player PlugIn version information
                        function GetSwfVer(){
                            // NS/Opera version >= 3 check for Flash plugin in plugin array
                            var flashVer = -1;

                            if (navigator.plugins != null && navigator.plugins.length > 0) {
                                if (navigator.plugins["Shockwave Flash 2.0"] || navigator.plugins["Shockwave Flash"]) {
                                    var swVer2 = navigator.plugins["Shockwave Flash 2.0"] ? " 2.0" : "";
                                    var flashDescription = navigator.plugins["Shockwave Flash" + swVer2].description;
                                    var descArray = flashDescription.split(" ");
                                    var tempArrayMajor = descArray[2].split(".");
                                    var versionMajor = tempArrayMajor[0];
                                    var versionMinor = tempArrayMajor[1];
                                    var versionRevision = descArray[3];
                                    if (versionRevision == "") {
                                        versionRevision = descArray[4];
                                    }
                                    if (versionRevision[0] == "d") {
                                        versionRevision = versionRevision.substring(1);
                                    } else if (versionRevision[0] == "r") {
                                        versionRevision = versionRevision.substring(1);
                                        if (versionRevision.indexOf("d") > 0) {
                                            versionRevision = versionRevision.substring(0, versionRevision.indexOf("d"));
                                        }
                                    }
                                    var flashVer = versionMajor + "." + versionMinor + "." + versionRevision;
                                }
                            }
                            // MSN/WebTV 2.6 supports Flash 4
                            else if (navigator.userAgent.toLowerCase().indexOf("webtv/2.6") != -1) flashVer = 4;
                            // WebTV 2.5 supports Flash 3
                            else if (navigator.userAgent.toLowerCase().indexOf("webtv/2.5") != -1) flashVer = 3;
                            // older WebTV supports Flash 2
                            else if (navigator.userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 2;
                            else if ( isIE && isWin && !isOpera ) {
                                flashVer = ControlVersion();
                            }
                            return flashVer;
                        }
                        // When called with reqMajorVer, reqMinorVer, reqRevision returns true if that version or greater is available
                        function DetectFlashVer(reqMajorVer, reqMinorVer, reqRevision) {
                            versionStr = GetSwfVer();
                            if (versionStr == -1 ) {
                                return false;
                            } else if (versionStr != 0) {
                                if(isIE && isWin && !isOpera) {
                                    // Given "WIN 2,0,0,11"
                                    tempArray         = versionStr.split(" "); 	// ["WIN", "2,0,0,11"]
                                    tempString        = tempArray[1];			// "2,0,0,11"
                                    versionArray      = tempString.split(",");	// ['2', '0', '0', '11']
                                } else {
                                    versionArray      = versionStr.split(".");
                                }
                                var versionMajor      = versionArray[0];
                                var versionMinor      = versionArray[1];
                                var versionRevision   = versionArray[2];
                                // is the major.revision >= requested major.revision AND the minor version >= requested minor
                                if (versionMajor > parseFloat(reqMajorVer)) {
                                    return true;
                                } else if (versionMajor == parseFloat(reqMajorVer)) {
                                    if (versionMinor > parseFloat(reqMinorVer))
                                        return true;
                                    else if (versionMinor == parseFloat(reqMinorVer)) {
                                        if (versionRevision >= parseFloat(reqRevision))
                                            return true;
                                    }
                                }
                                return false;
                            }
                        }
                        function AC_AddExtension(src, ext) {
                            return src+'?';
                            if (src.indexOf('?') != -1)
                                return src.replace(/\?/, ext+'?');
                            else
                                return src + ext;
                        }
                        function AC_Generateobj(objAttrs, params, embedAttrs) {
                            var str = '';
                            if (isIE && isWin && !isOpera)
                            {
                                str += '<object ';
                                for (var i in objAttrs)
                                {
                                    str += i + '="' + objAttrs[i] + '" ';
                                }
                                str += '>';
                                for (var i in params)
                                {
                                    str += '<param name="' + i + '" value="' + params[i] + '" /> ';
                                }
                                str += '</object>';
                            }
                            else
                            {
                                str += '<embed ';
                                for (var i in embedAttrs)
                                {
                                    str += i + '="' + embedAttrs[i] + '" ';
                                }
                                str += '> </embed>';
                            }
                            document.write(str);
                        }
                        function AC_FL_RunContent(){
                            var ret =
                                AC_GetArgs
                                (  arguments, ".swf", "movie", "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                    , "application/x-shockwave-flash"
                                );
                            AC_Generateobj(ret.objAttrs, ret.params, ret.embedAttrs);
                        }
                        function AC_SW_RunContent(){
                            var ret =
                                AC_GetArgs
                                (  arguments, ".dcr", "src", "clsid:166B1BCA-3F9C-11CF-8075-444553540000"
                                    , null
                                );
                            AC_Generateobj(ret.objAttrs, ret.params, ret.embedAttrs);
                        }
                        function AC_GetArgs(args, ext, srcParamName, classid, mimeType){
                            var ret = new Object();
                            ret.embedAttrs = new Object();
                            ret.params = new Object();
                            ret.objAttrs = new Object();
                            for (var i=0; i < args.length; i=i+2){
                                var currArg = args[i].toLowerCase();
                                switch (currArg){
                                    case "classid":
                                        break;
                                    case "pluginspage":
                                        ret.embedAttrs[args[i]] = args[i+1];
                                        break;
                                    case "src":
                                    case "movie":
                                        args[i+1] = AC_AddExtension(args[i+1], ext);
                                        ret.embedAttrs["src"] = args[i+1];
                                        ret.params[srcParamName] = args[i+1];
                                        break;
                                    case "onafterupdate":
                                    case "onbeforeupdate":
                                    case "onblur":
                                    case "oncellchange":
                                    case "onclick":
                                    case "ondblclick":
                                    case "ondrag":
                                    case "ondragend":
                                    case "ondragenter":
                                    case "ondragleave":
                                    case "ondragover":
                                    case "ondrop":
                                    case "onfinish":
                                    case "onfocus":
                                    case "onhelp":
                                    case "onmousedown":
                                    case "onmouseup":
                                    case "onmouseover":
                                    case "onmousemove":
                                    case "onmouseout":
                                    case "onkeypress":
                                    case "onkeydown":
                                    case "onkeyup":
                                    case "onload":
                                    case "onlosecapture":
                                    case "onpropertychange":
                                    case "onreadystatechange":
                                    case "onrowsdelete":
                                    case "onrowenter":
                                    case "onrowexit":
                                    case "onrowsinserted":
                                    case "onstart":
                                    case "onscroll":
                                    case "onbeforeeditfocus":
                                    case "onactivate":
                                    case "onbeforedeactivate":
                                    case "ondeactivate":
                                    case "type":
                                    case "codebase":
                                    case "id":
                                        ret.objAttrs[args[i]] = args[i+1];
                                        break;
                                    case "width":
                                    case "height":
                                    case "align":
                                    case "vspace":
                                    case "hspace":
                                    case "class":
                                    case "title":
                                    case "accesskey":
                                    case "name":
                                    case "tabindex":
                                        ret.embedAttrs[args[i]] = ret.objAttrs[args[i]] = args[i+1];
                                        break;
                                    default:
                                        ret.embedAttrs[args[i]] = ret.params[args[i]] = args[i+1];
                                }
                            }
                            ret.objAttrs["classid"] = classid;
                            if (mimeType) ret.embedAttrs["type"] = mimeType;
                            return ret;
                        }
                        // -->
                    </script>
                    <script language="JavaScript" type="text/javascript">
                        AC_FL_RunContent(
                            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
                            'width', '100%',
                            'height', '1000',
                            'src', '/storage/app/media{{tour}}',
                            'quality', 'high',
                            'pluginspage', 'http://www.adobe.com/go/getflashplayer',
                            'align', 'middle',
                            'play', 'true',
                            'loop', 'true',
                            'scale', 'showall',
                            'wmode', 'opaque',
                            'devicefont', 'false',
                            'id', 'kamerniy',
                            'bgcolor', '#1a4267',
                            'name', 'kamerniy',
                            'menu', 'true',
                            'allowFullScreen', 'false',
                            'allowScriptAccess','sameDomain',
                            'movie', '/storage/app/media{{tour}}',
                            'salign', ''
                        ); //end AC code
                    </script>
                    <noscript>
                        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0"
<!--                                width="1500"-->
                                width="100%"
                                id="kamerniy"
                                align="middle">
                            <param name="allowScriptAccess" value="sameDomain" />
                            <param name="allowFullScreen" value="false" />
                            <param name="movie" value="/storage/app/media{{tour}}" /><param name="quality" value="high" />
                            <param name="bgcolor" value="#1a4267" />
                            <embed src="/storage/app/media{{tour}}"
                                   quality="high"
                                   bgcolor="#1a4267"
                                   width="100%"
                                   height="1000"
                                   name="kamerniy"
                                   align="middle"
                                   allowScriptAccess="sameDomain"
                                   allowFullScreen="false"
                                   type="application/x-shockwave-flash"
                                   pluginspage="http://www.adobe.com/go/getflashplayer" />
                        </object>
                    </noscript>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>



</section>
</div>