title = "Изменения в репертуаре"
url = "/izmeneniya-v-repertuare"
layout = "main"
is_hidden = 0
==
<?php
function onstart(){
    $url =  $this->param('slug');
    $events = \Parotikovanton\Mmdm\Models\Event::whereNotNull( 'changes_event_ru')->get();

//
    if($events) {
        $events->load('hall');
        $this['allevents']  = $events;



//
//        $this['content_start']   = $event['content_start_'.$this['lang']];
//        $this['content']         = $event['content_'.$this['lang']];
//        $this['title']           = $event['title_'.$this['lang']];
//        $this['data_event']      = $event['data_event'];
//        $this['age_rating']      = $event['age_rating'];
//        $this['title_hall']      = $event->hall['title_'.$this['lang']];
//        $this['images']          = $event['images'];
//        $this['price_stock']     = $event['price_stock'];
//        $this['video']           = $event['video_event'];
//        $this['duration']        = $event['duration_'.$this['lang']];
//        $this['organizer_name']  = $event['organizer_name'];
//        $this['slug']            = $event['slug'];
//        $this['program']         = $event['program_'.$this['lang']];
//        $this['participant']     = $event['participant_'.$this['lang']];
//        $this['changes_event']   = $event['changes_event_'.$this['lang']];
    } else{
        return \Illuminate\Support\Facades\Redirect::to('404');
    }

}
?>
==
{% set vMonth = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% set vDay = ['','Пнд','Вт','Ср','Чт','Пт','Сб', 'Вс'] %}


<h1 class="page-header">Изменения в репертуаре</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">


        <div class="view view-changes-in-repertoire view-id-changes_in_repertoire view-display-id-page">



            <div class="view-content">

                {% for event  in  allevents  %}

                    <div class="views-row">
                        <div class="views-field views-field-field-hall-full">
                            <div class="field-content">
                                <strong>
                                    <span class="date-display-single"
                                          property="dc:date"
                                          datatype="xsd:dateTime"
                                          content="{{event.data_event}}">15 Сентябрь, 2018 - 19:30 {{event.data_event |date("d")}} {{vMonth[event.data_event|date("n")]}}, {{event.data_event |date("Y")}} - {{event.data_event |date("H:i")  }}  </span>   {{ lang == 'ru' ?  event.hall.title_ru :  event.hall.title_en    }}
                                </strong>
                            </div>
                        </div>
                        <div class="views-field views-field-field-nazvanie-test">
                            <div class="field-content">{{ lang == 'ru' ? event.title_ru  : event.title_en }}  <a href="{{event.slug}}">{{ lang == 'ru' ? event.changes_event_ru|raw : event.changes_event_en|raw   }}</a></div>
                        </div>
                        <div class="views-field views-field-nothing">
                            <span class="field-content"><hr /></span>

                        </div>
                    </div>


                {% endfor %}





            </div>
        </div>
    </section>
</div>







