title = "Вход в личный кабинет"
url = "/login"
layout = "main"
is_hidden = 0
==
<h1 class="page-header">Личный кабинет</h1>

<div class="region region-content">

    <section id="block-system-main" class="block block-system clearfix">
              <form action="/ru/user" method="post" id="user-login" accept-charset="UTF-8">



                    <div>
                          <style>
                                .tabs--primary {
                                    display: none;
                                }
                          </style>


                                <div class="form-registration">

                                        <input type="hidden" name="form_id" value="user_login" />

                                        <input type="hidden" name="form_build_id" value="form-knKg-CxEpj5MxUAhRR6pTTmTwj5m7V4e08jt-nwf3Fg" />


                                        <div class="form-item form-item-name form-type-textfield form-group">
                                            <label class="control-label" for="edit-name">E-mail<span class="form-required" title="Обязательное поле">*</span></label>

                                             <input class="form-control form-text required" title="Enter your e-mail address or username." data-toggle="tooltip" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" />

                                        </div>
                                            <div class="form-item form-item-pass form-type-password form-group">


                                                <label class="control-label" for="edit-pass">Пароль<span class="form-required" title="Обязательное поле">*</span>
                                                </label>

                                                <input class="form-control form-text required" title="Введите пароль, который пришел Вам на e-mail." data-toggle="tooltip" type="password" id="edit-pass" name="pass" size="60" maxlength="128" />

                                            </div>


                                            <div class="form-group text-right form-group-wrap">

                                            <a href="/password" class="link-black">Забыли пароль?</a>

                                        </div>

                                        <div class="wrap-btn">

                                            <div class="form-actions form-wrapper form-group" id="edit-actions">
                                                <button type="submit" id="edit-submit" name="op" value="Войти" class="btn btn-default form-submit">Войти</button>
                                            </div>

                                        </div>

                                </div>







                                <script type="text/javascript">
                                    jQuery(document).ready(function () {
                                        jQuery('.form-registration').find('.form-group').tooltip('destroy');

                                        /*
                                         * Валидация формы
                                         * */
                                        var $ = jQuery,
                                            form = $('.form-registration').closest('form'),
                                            name = form.find('#edit-name'),
                                            pass = form.find('#edit-pass');
                                        form.parsley({
                                            requiredMessage: 'Заполните поле',
                                            typeMessage: 'Неправильный формат',
                                            trigger: 'focusout'
                                        });
                                        name.parsley({
                                            required: true
                                        });
                                        pass.parsley({
                                            required: true
                                        });
                                    });
                                </script>

                    </div>
              </form>
</section>
</div>