title = "новости"
url = "/news"
layout = "main"
is_hidden = 0
==
<?php
function onstart(){

    $news_in_page = 2;
    $page         = 1;
    $max_pag      = 5;
    $morepage = 1;



    if(isset($_GET["page"])){
        if($_GET["page"] !== "") {
            $page = $_GET["page"];
        }  else {
            $page = 0;
        }
    }

    if(isset($_GET["morepage"])){
        if($_GET["morepage"] !== "") {
            $morepage = $_GET["morepage"];
        }  else {
            $morepage = 1;
        }
    }




    $allNews = \Parotikovanton\Mmdm\Models\News::paginate($news_in_page, $page );  ;

    $this['news']         = $allNews;


    $this['currentPage']     =  $allNews->currentPage();
    $this['lastPage']        =  $allNews->lastPage() ;

    $this['nextPageUrl']     =  $allNews->nextPageUrl();
    $this['perPage']         =  $allNews->perPage();
    $this['previousPageUrl'] =  $allNews->previousPageUrl();
    $this['total']           =  $allNews->total() ;



        $paginat = [];
        for ($i = $morepage; $i <= $this['lastPage']; $i++) {
            $paginat_item = [];

            $paginat_item['name'] = $i;
            $paginat_item['active'] = $i == $this['currentPage'];

            $paginat[] = $paginat_item;
        }


    if ($paginat > $max_pag) {


//        $paginat =


    }







//    echo("<pre>");
//
//    print_r($paginat);
//
//    echo("</pre>");

    $this['paginatli'] =  $paginat;




}
?>
==
{% set vMonth = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% set vDay = ['','Пнд','Вт','Ср','Чт','Пт','Сб', 'Вс'] %}


    <h1 class="page-header">Новости</h1>






    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">


            <div class="view view-news view-id-news view-display-id-page ">



                <div class="view-content">
<!--                    <div class="views-row views-row-1 views-row-odd views-row-first">-->
<!---->
<!--                        <div class="views-field views-field-title">    -->
<!--                            <h2 class="field-content"><a href="/ru/news/vy-uvereny-chto-znaete-kuda-uhodyat-personalnye-dannye">«А вы уверены, что знаете, куда уходят персональные данные?»</a></h2> -->
<!--                        </div>-->
<!--                        <div class="views-field views-field-created">  -->
<!--                            <span class="views-label views-label-created">Дата публикации: </span> -->
<!--                            <span class="field-content label label-default">31 Май 2018</span>  </div>-->
<!--                        <div class="views-field views-field-body">     -->
<!--                            <div class="field-content">-->
<!--                                <p><iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Knl01ULfB5k" width="560"></iframe></p>-->
<!--                            </div>  -->
<!--                        </div>-->
<!--                        <div class="views-field views-field-view-node pull-right">   -->
<!--                            <div class="field-content btn btn-default">-->
<!--                                <a href="/ru/news/vy-uvereny-chto-znaete-kuda-uhodyat-personalnye-dannye">Подробнее</a>-->
<!--                            </div> -->
<!--                        </div>-->
<!--                        <div class="views-field views-field-nothing">   -->
<!--                            <span class="field-content"><hr /></span>-->
<!--                        </div>  -->
<!--                    </div>-->







                    {% for news_item  in  news  %}

                    <div class="views-row views-row-2 views-row-even">

                        <div class="views-field views-field-title">
                            <h2 class="field-content">
                                <a href="{{news_item.slug}}">
                                    {{ lang == 'ru' ?  news_item.title_ru  :   news_item.title_en   }}
                                </a></h2>
                        </div>
                        <div class="views-field views-field-created">
                            <span class="views-label views-label-created">Дата публикации: </span>
                            <span class="field-content label label-default">{{news_item.data |date("d")}}   {{vMonth[news_item.data|date("n")]}} {{news_item.data |date("Y")}}</span>
                        </div>
                        <div class="views-field views-field-body">
                            <div class="field-content">
                                {{ lang == 'ru' ?   news_item.anons_ru | raw  :   news_item.anons_en | raw    }}
                            </div>
                        </div>
                        <div class="views-field views-field-view-node pull-right">
                            <div class="field-content btn btn-default">
                                <a href="{{news_item.slug}}">Подробнее</a>
                            </div>
                        </div>
                        <div class="views-field views-field-nothing">
                            <span class="field-content"><hr /></span>
                        </div>
                    </div>


                    {%  endfor %}




                    <div class="text-center">
                        <ul class="pagination">
                            {% if currentPage  !=  1  %}
                            <li class="next"><a title="На следующую страницу" href="?page={{currentPage - 1}}">‹ предыдущая</a></li>
                            {% endif  %}


                            {% if currentPage  ==  lastPage  %}
                            <li class="pager-last"><a title="На последнюю страницу" href="?page=1">« первая</a></li>

                            {% endif  %}




                            {% for pg  in    paginatli  %}

                            <li class=" {{  (pg.active == 1 ) ? 'active' : '' }}"     >

                                {% if pg.active == 1 %}
                                <span>{{pg.name}}</span>

                                {% else  %}
                                <a href="?page={{pg.name}}"  title="На страницу номер {{pg.name}}" >{{pg.name}}</a>
                                {% endif  %}

                            </li>

                            {%  endfor %}



<!--                            <li class="pager-ellipsis">-->
<!--                                <a title="..." href="?morepage={{lastPage}}">...</a>-->
<!--                            </li>-->





                            {% if currentPage  !=  lastPage  %}
                            <li class="next"><a title="На следующую страницу" href="?page={{currentPage + 1}}">следующая ›</a></li>


                            <li class="pager-last"><a title="На последнюю страницу" href="?page={{lastPage}}">последняя »</a></li>

                            {% endif  %}
                         </ul>
                    </div>




                </div>
            </div>
        </section>
    </div>
