title = "Детально новость"
url = "/news_detail/:slug"
layout = "main"
is_hidden = 0
==
<?php
function onstart(){
    $url =  $this->param('slug');
    $event = \Parotikovanton\Mmdm\Models\News::where( 'slug' ,  '/news_detail/'.$url)->first();





    if($event) {

        $this['content']         = $event['content_'.$this['lang']];
        $this['title']           = $event['title_'.$this['lang']];
        $this['data']            = $event['data'];
        $this['images']          = $event['images'];
        $this['slug']            = $event['slug'];

    } else{
        return \Illuminate\Support\Facades\Redirect::to('404');
    }
}
?>
==






        <h1 class="page-header">{{title}}</h1>
        <div class="region region-content">
            <section id="block-system-main" class="block block-system clearfix">


                <div id="node-6755" class="node node-article clearfix" about="{{slug}}" typeof="sioc:Item foaf:Document">
                    <span property="dc:title" content="{{title}}" class="rdf-meta element-hidden"></span>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="event-image">
                                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%">
                                        {% for img in  images  %}
                                        <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{img.img}}" width="1024" height="706" alt="{{img.alt_img}}" />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
                                        {{content | raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
