title = "Восстановление пароля"
url = "/password"
layout = "main"
is_hidden = 0
==
<h1 class="page-header">Личный кабинет</h1>
<h2 class="element-invisible">Главные вкладки</h2>


<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
      <form action="/password" method="post" id="user-pass" accept-charset="UTF-8">
          <div>
                   <style>
                    .tabs--primary {
                        display: none;
                    }
                  </style>


                <div class="title-reset-pass">Укажите e-mail адрес, который использовали при регистрации</div>

                <div class="form-registration form-registration-reset">

                    <input type="hidden" name="form_id" value="user_pass" />

                    <input type="hidden" name="form_build_id" value="form-_Q6kw6-Gj8sURZ8Khuotp8-1M2IIOXkCLltqNudiyFQ" />


                    <div class="form-item form-item-name form-type-textfield form-group">

                        <label class="control-label" for="edit-name">E-mail <span class="form-required" title="Обязательное поле">*</span></label>

                        <input class="form-control form-text required" type="text" id="edit-name" name="name" value="" size="60" maxlength="254" />
                    </div>

                    <div class="wrap-btn">
                            <div class="form-actions form-wrapper form-group" id="edit-actions">
                                <button class="btn-default btn form-submit" type="submit" id="edit-submit" name="op" value="Отправить">Отправить</button>
                            </div>
                    </div>
                </div>




                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        jQuery('.form-registration').find('.form-group').tooltip('destroy');
                        jQuery('.btn-primary').removeClass('btn-primary');

                        /*
                        * Валидация формы
                        * */
                        var $ = jQuery,
                            form = $('.form-registration').closest('form'),
                            email = form.find('#edit-name');
                        form.parsley({
                            requiredMessage: 'Заполните поле',
                            typeMessage: 'Неправильный формат',
                            trigger: 'focusout'
                        });
                        email.parsley({
                            required: true,
                            type: 'email'
                        });
                        viewError(email);
                        function viewError(elem) {
                            elem.parsley().on('field:error', function() {
                                elem.closest('.form-group').removeClass('wrap-parsley-success');
                            });
                        }
                    });
                </script>


          </div>
      </form>
    </section>
</div>