title = "profile"
url = "/profile"
layout = "main"
is_hidden = 0
==
<h1 class="page-header">Профиль</h1>
                                                                        <h2 class="element-invisible">Главные вкладки</h2><ul class="tabs--primary nav nav-tabs"><li><a href="/ru/users/venombren426661">Просмотр</a></li>
<li class="active"><a href="/ru/user/426661/edit" class="active">Профиль<span class="element-invisible">(активная вкладка)</span></a></li>
</ul>                                            <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      
  <form enctype="multipart/form-data" action="/ru/user/426661/edit" method="post" id="user-profile-form" accept-charset="UTF-8"><div>
<div class="js-cabinet-left-menu c-menu">
    <div class="c-menu__item">
        <a href="/ru/orders/" class="c-menu__title ">
            <span class="c-menu__name">Заказы</span>
            <span class="c-menu__size">0</span>
        </a>
        <div class="c-menu__sub">
                            <div class="c-menu__sub-item">
                    <a href="/ru/orders/?status=1" class="c-menu__link">Забронированные</a>
                    <span class="c-menu__count">0</span>
                </div>
                            <div class="c-menu__sub-item">
                    <a href="/ru/orders/?status=2" class="c-menu__link">Выкупленные</a>
                    <span class="c-menu__count">0</span>
                </div>
                            <div class="c-menu__sub-item">
                    <a href="/ru/orders/?status=4" class="c-menu__link">Аннулированные</a>
                    <span class="c-menu__count">0</span>
                </div>
                    </div>
    </div>
    <div class="c-menu__item">
        <a href="/ru/user/426661/edit" class="c-menu__title  c-menu__title--active">
            <span class="c-menu__name">Профиль</span>
        </a>
    </div>
    </div>
<style>
    .page-user-edit .tabs--primary {
        display: none;
    }
    .tooltip {
        display: none!important;
    }
</style>
<input type="hidden" name="form_id" value="user_profile_form" />
<input type="hidden" name="form_build_id" value="form-4ICiBzHEf9Hm5uAkC_DXNg8nGqHVR9JXOgyW05Ui06o" />
<input type="hidden" name="form_token" value="vuTA-nyV4BezxS8T7FLGLPT2MLjy2wlUXic6ddIW7j8" />

<script type="text/javascript">
    var $ = jQuery;
    $(document).ready(function() {
        $('.form-item').find('select').styler({
            onSelectOpened: function() {
                $(this).closest('.form-type-select').addClass('open')
            },
            onSelectClosed: function() {
                $(this).closest('.form-type-select').removeClass('open')
            },
            selectPlaceholder: ''
        });

        /*
         * Валидация формы
         * */
        var form = $('#user-profile-form'),
            email = form.find('#edit-mail'),
            fio = form.find('#edit-field-fio-und-0-value'),
            oldPass = form.find('#edit-current-pass'),
            pass1 = form.find('#edit-pass-pass1'),
            pass2 = form.find('#edit-pass-pass2');
        form.parsley({
            requiredMessage: 'Заполните поле',
            typeMessage: 'Неправильный формат',
            trigger: 'focusout'
        });
        fio.parsley({
            required: true
        });
        viewError(fio);
        email.parsley({
            required: true,
            type: 'email'
        });
        viewError(email);
        viewSuccess(pass1);
        oldPass.parsley({
            minlength: 3,
            minlengthMessage: ''
        });
        pass1.parsley({
            minlength: 5,
            minlengthMessage: 'Не менее 5 символов'
        });
        viewSuccess(pass1);
        viewError(pass1);
        pass2.parsley({
            equaltoMessage: 'Пароли не совпадают',
            equalto: '#edit-pass-pass1'
        });
        viewSuccess(pass2);
        viewError(pass2);

        function viewSuccess(elem) {
            elem.parsley().on('field:success', function() {
                if(elem.val() !== '') {
                    elem.closest('.form-group').addClass('wrap-parsley-success');
                }
            });
        }
        function viewError(elem) {
            elem.parsley().on('field:error', function() {
                elem.closest('.form-group').addClass('wrap-parsley-error').removeClass('wrap-parsley-success');
            });
        }

        $('.form-item-pass-pass1').append('<span class="label-min-length">Не менее 5 символов</span>');

        $('.form-phone input').mask('+ 9?99999999999999999999999999', {placeholder: ""});
    })
</script>

<div class="right-content line-form no-strength valid-form">
    <div class="form-container">
        <h2 style="" class="title-page">Профиль</h2>
        <div style="" class="">
            <div class="field-type-text field-name-field-fio field-widget-text-textfield form-wrapper form-group" id="edit-field-fio"><div id="field-fio-add-more-wrapper"><div class="form-item form-item-field-fio-und-0-value form-type-textfield form-group"> <label class="control-label" for="edit-field-fio-und-0-value">Имя и фамилия <span class="form-required" title="Обязательное поле">*</span></label>
<input class="text-full form-control form-text required" type="text" id="edit-field-fio-und-0-value" name="field_fio[und][0][value]" value="sergey" size="60" maxlength="30" /></div></div></div>
            <div class="field-type-datetime field-name-field-date-of-birth field-widget-date-select form-wrapper form-group" id="edit-field-date-of-birth"><div id="field-date-of-birth-add-more-wrapper"><fieldset  class="date-combo panel panel-default form-wrapper" id="bootstrap-panel">
          <legend class="panel-heading">
      <span class="panel-title fieldset-legend">Дата рождения </span>
    </legend>
        <div class="panel-body" id="bootstrap-panel-body">
        <div  class="date-no-float container-inline-date"><div class="date-no-float form-item form-item-field-date-of-birth-und-0-value form-type-date-select form-group"><div id="edit-field-date-of-birth-und-0-value"  class="date-padding clearfix"><div class="form-item form-item-field-date-of-birth-und-0-value-day form-type-select form-group"> <label class="control-label" for="edit-field-date-of-birth-und-0-value-day">День</label>
<div class="date-day"><select class="date-clear form-control form-select" id="edit-field-date-of-birth-und-0-value-day" name="field_date_of_birth[und][0][value][day]"><option value="" selected="selected"></option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select></div></div><div class="form-item form-item-field-date-of-birth-und-0-value-month form-type-select form-group"> <label class="control-label" for="edit-field-date-of-birth-und-0-value-month">Месяц</label>
<div class="date-month"><select class="date-clear form-control form-select" id="edit-field-date-of-birth-und-0-value-month" name="field_date_of_birth[und][0][value][month]"><option value="" selected="selected"></option><option value="1">Янв</option><option value="2">Фев</option><option value="3">Мар</option><option value="4">Апр</option><option value="5">Май</option><option value="6">Июн</option><option value="7">Июл</option><option value="8">Авг</option><option value="9">Сен</option><option value="10">Окт</option><option value="11">Ноя</option><option value="12">Дек</option></select></div></div><div class="form-item form-item-field-date-of-birth-und-0-value-year form-type-select form-group"> <label class="control-label" for="edit-field-date-of-birth-und-0-value-year">Год</label>
<div class="date-year"><select class="date-clear form-control form-select" id="edit-field-date-of-birth-und-0-value-year" name="field_date_of_birth[und][0][value][year]"><option value="" selected="selected"></option><option value="1918">1918</option><option value="1919">1919</option><option value="1920">1920</option><option value="1921">1921</option><option value="1922">1922</option><option value="1923">1923</option><option value="1924">1924</option><option value="1925">1925</option><option value="1926">1926</option><option value="1927">1927</option><option value="1928">1928</option><option value="1929">1929</option><option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option></select></div></div></div></div></div>  </div>
</fieldset>
</div></div>

            <div class="field-type-list-text field-name-field-sex field-widget-options-buttons form-wrapper form-group" id="edit-field-sex"><div class="form-item form-item-field-sex-und form-type-radios form-group"> <label class="control-label" for="edit-field-sex-und">Пол</label>
<div id="edit-field-sex-und" class="form-radios"><div class="form-item form-item-field-sex-und form-type-radio radio"> <label class="control-label" for="edit-field-sex-und-male"><input type="radio" id="edit-field-sex-und-male" name="field_sex[und]" value="male" class="form-radio" />Муж</label>
</div><div class="form-item form-item-field-sex-und form-type-radio radio"> <label class="control-label" for="edit-field-sex-und-female"><input type="radio" id="edit-field-sex-und-female" name="field_sex[und]" value="female" class="form-radio" />Жен</label>
</div></div></div></div>
            <div class="form-phone">
                <div class="field-type-text field-name-field-phone field-widget-text-textfield form-wrapper form-group" id="edit-field-phone"><div id="field-phone-add-more-wrapper"><div class="form-item form-item-field-phone-und-0-value form-type-textfield form-group"> <label class="control-label" for="edit-field-phone-und-0-value">Телефон <span class="form-required" title="Обязательное поле">*</span></label>
<input class="text-full form-control form-text required" type="text" id="edit-field-phone-und-0-value" name="field_phone[und][0][value]" value="" size="60" maxlength="255" /></div></div></div>            </div>
            <div class="form-item form-item-mail form-type-textfield form-group"> <label class="control-label" for="edit-mail">E-mail адрес <span class="form-required" title="Обязательное поле">*</span></label>
<input class="form-control form-text required" type="text" id="edit-mail" name="mail" value="venom.bren@gmail.com" size="60" maxlength="254" /><div class="help-block">Существующий адрес электронной почты. Все почтовые сообщения с сайта будут отсылаться на этот адрес. Адрес электронной почты не будет публиковаться и будет использован только по вашему желанию: для восстановления пароля или для получения новостей и уведомлений по электронной почте.</div></div>
            <div class="line-form-btn line-form-big-margin">
                <button type="submit" class="btn btn-default btn--big" name="op" id="edit-submit">Сохранить</button>
            </div>
        </div>
        <h2 class="title-page">Сменить пароль</h2>

        <div class="form-item form-item-pass form-type-password-confirm form-group"><div class="form-item form-item-pass-pass1 form-type-password form-group"> <label class="control-label" for="edit-pass-pass1">Пароль</label>
<input class="password-field form-control form-text" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" /></div><div class="form-item form-item-pass-pass2 form-type-password form-group"> <label class="control-label" for="edit-pass-pass2">Повторите пароль</label>
<input class="password-confirm form-control form-text" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" /></div></div>
        <div class="line-form-btn line-form-big-margin">
            <button type="submit" class="btn btn-transparent btn-default btn--big" name="op" id="edit-submit">Сохранить</button>
        </div>
    </div>

</div>


</div></form>
</section>