title = "Регистрация"
url = "/register"
layout = "main"
is_hidden = 0
==
<h1 class="page-header">Регистрация</h1>
                                                                        <h2 class="element-invisible">Главные вкладки</h2><ul class="tabs--primary nav nav-tabs"><li class="active"><a href="/ru/user/register" class="active">Регистрация<span class="element-invisible">(активная вкладка)</span></a></li>
<li><a href="/ru/user">Вход</a></li>
<li><a href="/ru/user/password">Забыли пароль?</a></li>
</ul>                                            <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      
  <form class="user-info-from-cookie" enctype="multipart/form-data" action="/ru/user/register" method="post" id="user-register-form" accept-charset="UTF-8"><div><style>
    .tabs--primary {
        display: none;
    }

</style>
<div class="form-registration">

<input type="hidden" name="form_id" value="user_register_form" />
<input type="hidden" name="form_build_id" value="form-Xv6NnOfn4M9HqqTF8gL5MNlx7rKLpAj0ZUPJ3tCUVgw" />

<div class="field-type-text field-name-field-fio field-widget-text-textfield form-wrapper form-group" id="edit-field-fio"><div id="field-fio-add-more-wrapper"><div class="form-item form-item-field-fio-und-0-value form-type-textfield form-group"> <label class="control-label" for="edit-field-fio-und-0-value">Имя и фамилия <span class="form-required" title="Обязательное поле">*</span></label>
<input class="text-full form-control form-text required" type="text" id="edit-field-fio-und-0-value" name="field_fio[und][0][value]" value="" size="60" maxlength="30" /></div></div></div>
<div class="form-item form-item-mail form-type-textfield form-group"> <label class="control-label" for="edit-mail">E-mail <span class="form-required" title="Обязательное поле">*</span></label>
<input class="form-control form-text required" type="text" id="edit-mail" name="mail" value="" size="60" maxlength="254" /><div class="help-block">Существующий адрес электронной почты. Все почтовые сообщения с сайта будут отсылаться на этот адрес. Адрес электронной почты не будет публиковаться и будет использован только по вашему желанию: для восстановления пароля или для получения новостей и уведомлений по электронной почте.</div></div>
<div class="form-item form-item-pass form-type-password-confirm form-group"><div class="form-item form-item-pass-pass1 form-type-password form-group"> <label class="control-label" for="edit-pass-pass1">Пароль <span class="form-required" title="Обязательное поле">*</span></label>
<input class="password-field form-control form-text required" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" /></div><div class="form-item form-item-pass-pass2 form-type-password form-group"> <label class="control-label" for="edit-pass-pass2">Повторите пароль <span class="form-required" title="Обязательное поле">*</span></label>
<input class="password-confirm form-control form-text required" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" /></div></div>
<div class="re-captcha-holder">
<div class="captcha"><input type="hidden" name="captcha_sid" value="191311" />
<input type="hidden" name="captcha_token" value="3e26f5f2c88486b719074bac2288a49e" />
<input type="hidden" name="captcha_response" value="Google no captcha" />
<div class="g-recaptcha" data-sitekey="6LcyFzoUAAAAAAxfntmJPb8it5kEzMdvndjIHEkR" data-theme="light" data-type="image" data-tabindex="5"></div></div></div>

<div class="wrap-btn">
    <div class="form-actions form-wrapper form-group" id="edit-actions"><button type="submit" id="edit-submit" name="op" value="Регистрация" class="btn btn-default form-submit">Регистрация</button>
</div>    <div class="link-conditions">
        и принять <a href="/ru/content/usloviya-predostavleniya-uslug" target="_blank">условия предоставления услуг</a>
    </div>
</div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.form-registration').find('.form-group').tooltip('destroy');

        /*
         * Валидация формы
         * */
        var $ = jQuery,
            form = $('.form-registration').closest('form'),
            email = form.find('#edit-mail'),
            fio = form.find('#edit-field-fio-und-0-value'),
            pass1 = form.find('#edit-pass-pass1'),
            pass2 = form.find('#edit-pass-pass2');
        form.parsley({
            requiredMessage: 'Заполните поле',
            typeMessage: 'Неправильный формат',
            trigger: 'focusout'
        });
        fio.parsley({
            required: true
        });
        viewError(fio);
        email.parsley({
            required: true,
            type: 'email'
        });
        viewError(email);
        pass1.parsley({
            minlength: 5,
            minlengthMessage: 'Не менее 5 символов',
            required: true
        });
        viewSuccess(pass1);
        viewError(pass1);
        pass2.parsley({
            equaltoMessage: 'Пароли не совпадают',
            required: true,
            equalto: '#edit-pass-pass1'
        });
        viewSuccess(pass2);
        viewError(pass2);

        function viewSuccess(elem) {
            elem.parsley().on('field:success', function() {
                elem.closest('.form-group').addClass('wrap-parsley-success');
            });
        }
        function viewError(elem) {
            elem.parsley().on('field:error', function() {
                elem.closest('.form-group').addClass('wrap-parsley-error').removeClass('wrap-parsley-success');
            });
        }

        $('.form-item-pass-pass1').append('<span class="label-min-length">Не менее 5 символов</span>');
    });
</script>

</div></form>