title = "Забронировать место"
url = "/reserve-ticket"
layout = "main"
is_hidden = 0
==
<?php
function onstart()
{

    if(isset($_GET["eventId"])){
        if($_GET["eventId"] !== "") {
            $eventId= $_GET["eventId"];
        }  else {
            return \Illuminate\Support\Facades\Redirect::to('404');
        }
    }  else {
        return \Illuminate\Support\Facades\Redirect::to('404');
    }

    $event = \Parotikovanton\Mmdm\Models\Event::where( 'event_id' , $eventId )->first();

    if($event){
        $this['title']           = $event['title_'.$this['lang']];
        $this['data_event']      = $event['data_event'];
        $this['slug']            = $event['slug'];
    } else{
        return \Illuminate\Support\Facades\Redirect::to('404');
    }

}
?>

==

<h1 class="page-header">Бронирование билетов</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
        <h4 class="views-field views-field-title">
            <div class="top-info-date">
                {{data_event|date("d.m.Y")}}      </div>
            <div class="top-info-time">
                {{data_event|date("H:i")}}       </div>
            <hr style="margin-top: 4px; margin-bottom: 10px;">

            <span class="field-content"><a href="{{slug}}">{{title}}</a></span>
        </h4>
    </section>
</div>


<div>
    <?php if ($hallSchemeHtml) : ?>
        <div class="choose-seat-main-block" touch-action="none">
            <?php print $hallSchemeHtml; ?>
        </div>
    <?php else: ?>
        Извините, схема зала недоступна.
    <?php endif; ?>
</div>

<style>

    #places div.status0 {background: none;cursor: pointer;}
    #places div.status1 {background: gray}

    #places div.status3 {background: gray}
    #places div.status4 {background: gray}


    #scalepanel {position:absolute;top:10px;left:20px}
</style>


<script>
    $ = jQuery;

    var availPlaces = <?php print $availPlacesJson; ?>;
    var myplace;

    $.getScript('/<?= path_to_theme(); ?>/_assets/_js/hallScheme.js', function () {

        /**
         * Расстановка доступных мест
         */
        $.each(availPlaces, function(key, value){
            var seat = $('#s' + value.cod_sec + 'r' + value.row + 'p' + value.seat);
            if (seat) {
                seat
                    .removeClass('status2')
                    .addClass('status0')
                    .attr('price', parseInt(value.PriceSell))
                    .css({background:'#8cC800'});
            }
        });

        /**
         * Управление схемой: зум и драг-н-дроп
         * */
        myplace = new hallScheme(function () {
            $('#places div.place').tipTip({
                delay:600,
                maxWidth: 400,
                attribute: '',
                defaultPosition: 'top',
                enter: function(){

                    var html = 'Недоступно для заказа',
                        self = $(this);

                    self.removeAttr('title');

                    // .status2 - нельзя заказать место
                    if(!$(this).hasClass('status2')) {

                        html = '<span class="place-head-detail">' +
                            self.attr('sectionname') +
                            '</span>';

                        if (self.attr('row') != '_') {
                            html +=  '<span class="place-head-position">' +
                                '<?php print t('Row'); ?> ' + self.attr('row') + ', <?php print t('seat'); ?> ' + self.attr('col') +
                                '</span>';
                        } else {
                            html +=  '<span class="place-head-position">' +
                                '<?php print t('Seat'); ?> ' + self.attr('col') +
                                '</span>'
                        }

                        html += '<span class="place-head-price">' +
                            '<?php print t('Price'); ?>: ' + self.attr('price') + '<span class="rubl">Р</span>' +
                            '</span>';

                    }

                    $('#tiptip_content').html(html);
                },
                exit: function(){

                }
            });
        });

    });
</script>









