title = "Поиск"
url = "/search"
layout = "main"
is_hidden = 0
==
<?php
function onstart()
{
    $combine = "";
  if(isset($_GET["combine"])){
      if($_GET["combine"] !== "") {
          $combine = $_GET["combine"];
      }
  }
  $this['combine']  = $combine;
  if($combine) {

  }
}
?>
==

<h1 class="page-header">Поиск</h1>
 <div class="region region-content">
     <p>Вы пытаетесть найти {{combine}} </p>
    <section id="block-system-main" class="block block-system clearfix">

      
      <div class="view view-search2 view-id-search2 view-display-id-page  jquery-once-4-processed">

    </div>
    </section>

  </div>
</div>