title = "Событие подробно"
url = "/event/:slug"
layout = "main"
is_hidden = 0
==
<?php
    function onstart(){
        $url =  $this->param('slug');
        $event = \Parotikovanton\Mmdm\Models\Event::where( 'slug' ,  '/event/'.$url)->first();





        if($event) {
            $event->load('hall');
            $this['content_start']   = $event['content_start_'.$this['lang']];
            $this['content']         = $event['content_'.$this['lang']];
            $this['title']           = $event['title_'.$this['lang']];
            $this['data_event']      = $event['data_event'];
            $this['age_rating']      = $event['age_rating'];
            $this['title_hall']      = $event->hall['title_'.$this['lang']];
            $this['images']          = $event['images'];
            $this['price_stock']     = $event['price_stock'];
            $this['video']           = $event['video_event'];
            $this['duration']        = $event['duration_'.$this['lang']];
            $this['organizer_name']  = $event['organizer_name'];
            $this['slug']            = $event['slug'];
            $this['program']         = $event['program_'.$this['lang']];
            $this['participant']     = $event['participant_'.$this['lang']];
            $this['changes_event']   = $event['changes_event_'.$this['lang']];
            $this['event_id']        = $event['event_id'];
        } else{
            return \Illuminate\Support\Facades\Redirect::to('404');
        }
    }
?>
==

            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">


                    <!-- node--events.tpl.php -->

                    <div id="node-7142" class="node node-events clearfix" about="{{slug}}" typeof="sioc:Item foaf:Document">
                        <div class="1">

                        </div>

                        <span property="dc:title" content="{{title}}" class="rdf-meta element-hidden"></span>

                        <!-- content -->
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="event-data clearfix">
                                    <h1>
                                        <div class="field field-name-field-nazvanie-test field-type-text field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">{{title}}</div>
                                            </div>
                                        </div>
                                    </h1>
                                    <div class="title-long"></div>
                                    <div class="field field-name-field-data-event field-type-datetime field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{data_event}}">{{data_event|date("m.d.y")}} - {{data_event|date("H:i")}}       </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field field-name-field-hall-full field-type-list-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">{{title_hall}}</div>
                                        </div>
                                    </div>
                                    <div class="field field-name-field-age-rating field-type-list-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">{{age_rating}}+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content">

                            <div class="row">
                                <div class="col-md-4 col-sm-4">

                                    <div class="event-image">
                                        <div class="fotorama" data-allowfullscreen="true">
                                            {% for img in  images  %}
                                                   <img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{img.img}}" width="1024" height="683" alt="{{img.alt_img}}" />
                                            {% endfor %}

                                        </div>
                                    </div>

                                    <div class="event-video">
                                           {{video|raw}}
                                    </div>

                                </div>
                                <div class="col-md-8 col-sm-8">

                                    <div class="event-content">

                                        <div class="field field-name-field-short-text field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                 <span class="change_event">{{changes_event | raw}} </span>
                                                  {{participant | raw}}


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="event-programm">
                                            {{program | raw}}
                                    </div>

                                    <div class="event-announcement" style="text-align: justify; margin-top: 0px;">

                                        <div class="field field-name-field-text-announcement field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                   {{content_start | raw}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="collapse" id="event_announcement">
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items"><div class="field-item even" property="content:encoded">

                                                       {{content | raw}}


                                                    </div></div>



                                            </div>

                                        </div>
                                        <button class="event-buttom" data-target="#event_announcement" data-toggle="collapse" type="button"><strong>Подробнее>></strong></button>
                                    </div>


                                    <!-- Информация и покупка билетов -->

                                    <div class="event-info">
                                        <div class="event-info-info">
                                            <div class="field field-name-field-event-time field-type-text field-label-inline clearfix">
                                                <div class="field-label">Продолжительность мероприятия:&nbsp;</div>
                                                <div class="field-items">
                                                    <div class="field-item even">{{duration}}</div>
                                                </div>
                                            </div>              <!-- Информация из шлюза -->
                                            <div class="event-data__data">
                                                <div class="event-data__info">
                                                    <strong>Стоимость билетов:</strong> {{price_stock}}
<!--                                                    <span class="rubl">Р</span>-->
                                                </div>
                                            </div>
                                            <!-- Конец информации из шлюза -->

                                            <!-- Организатор -->

                                            <div class="field field-name-field-organizer-name field-type-text field-label-inline clearfix">
                                                <div class="field-label">Организатор:&nbsp;</div><div class="field-items"><div class="field-item even">{{organizer_name}}</div></div></div>                            <!-- Конец организатор -->
                                        </div>
                                        <div class="event-info-bay">
                                            <div class="pull-right">
                                                <!-- __Эвент есть в шлюзе__-->
                                                <a href="/reserve-ticket?eventId={{event_id}}" onclick="" class="btn btn-event">Забронировать</a>
                                                <a href="/buy-ticket?eventId={{event_id}}" onclick="" class="btn btn-event" >Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Конец Информация и покупка билетов -->
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
