[viewBag]

[staticMenu]
code = "top_menu_ru"

[staticMenu staticMenu2]
code = "top_menu_en"
==
<?php
function onstart(){
    $header = \Parotikovanton\Mmdm\Models\Header::find(1);
    if($header){
        $this['phone']     = $header['phone'] ;
        $header            = $header['header_'.$this['lang']][0];
        $this['logo']      = $header['logo'] ;
        $this['url_img']   = $header['url_img'] ;
        $this['href_logo'] = $header['href_logo'] ;
        $this['logo_alt']  = $header['logo_alt'] ;
        $this['href_img']  = $header['href_img'] ;
        $this['alt_img']   = $header['alt_img'] ;
    }
}
?>



==
<div class="container" style="background: #ebebeb;">
    <div id="headr">
        <div class="new_header_container">
            <div class="col-md-3 new_deparatament">
                <div class="region region-logo">
                    <section id="block-block-25" class="block block-block clearfix">
                        <div class="region region-logo">
                            <section id="block-block-25" class="block block-block clearfix">
                                <a target="_blank" href="{{href_logo}}" title="{{logo_alt}}">
                                    <img src="/storage/app/media{{logo}}">
                                </a>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-5 new_logo hidden-sm-down">
                <div class="region region-logo">
                    <section id="block-block-25" class="block block-block clearfix">
                        <div class="region region-logo-main">
                            <section id="block-block-41" class="block block-block clearfix">
                                <a href="{{href_img}}">
                                    <img src="/storage/app/media{{url_img}}"  alt="{{alt_img}}"  >
                                </a>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-4 new_header_info">
                            <span class="visible-sm-up new_flags">
                                <a href="/ru/" class="language-link" lang="ru" title="Ru"><img class="language-icon" typeof="foaf:Image" src="/sites/all/modules/languageicons/flags/ru.png" width="24" height="18" alt="Русский" title="Русский"></a>
                                <a href="/en/" class="language-link" lang="en" title="En"><img class="language-icon" typeof="foaf:Image" src="/sites/all/modules/languageicons/flags/en.png" width="24" height="18" alt="English" title="English"></a>
                            </span>

                <div class="region region-contakt">
                    <section id="block-block-26" class="block block-block clearfix">


                        <a href="tel:+74957301011" class="new_phone">{{phone}}</a>
                    </section>
                </div>
                <a href="/login" class="new_lk">Вход</a><span class="new_lk">/</span><a href="/register" class="new_lk">Регистрация</a>
                <br>
                <div class="region region-search1">
                    <section id="block-block-42" class="block block-block clearfix">


                        <a href="" id="search" class="new_search hidden-sm-down"><i class="fa fa-search"></i> Поиск</a>
                        <span class="new_lang hidden-sm-down">
                        <a href="/ru/" class="language-link" lang="ru" title="Ru">РУС</a>/<a href="/en/" class="language-link" lang="en" title="En">ENG</a>
                    </span>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-12 new_logo visible-sm-up">
            <div class="region region-logo">
                <section id="block-block-25" class="block block-block clearfix">
                    <div class="region region-logo-main">
                        <div class="region region-logo-main">
                            <section id="block-block-41" class="block block-block clearfix">
                                <a href="{{href_img}}">
                                    <img src="/storage/app/media{{url_img}}"  alt="{{alt_img}}"  >
                                </a>
                            </section>
                        </div>
                    </div>
                    <!--                      <a target="_blank" href="/" title="Главная">-->
                    <!--                          <img src="/sites/all/themes/mmdm_theme/img/mobile_logo.png">-->
                    <!--                      </a>-->
                </section>
            </div>
        </div>
    </div>


    <div id="menu">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <form id="form_search_mobile" action="/ru/search2" method="GET" class="visible-sm-up">
                            <input type="text" name="combine" value="" size="30" maxlength="128">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     {% if lang == 'en' %}    
                            {% if staticMenu2.menuItems %}
                                <ul class="menu nav navbar-nav">
                                    {% partial staticMenu2 ~ "::top_menu_items" items=staticMenu2.menuItems %}
                                </ul>
                            {% endif %} 
                     {% else %}
                     {% if staticMenu.menuItems %}
                                <ul class="menu nav navbar-nav">
                                    {% partial staticMenu ~ "::top_menu_items" items=staticMenu.menuItems %}
                                </ul>
                            {% endif %}
                     {% endif %}
                            
                    
                    
                    
                       <!--  <ul class="menu nav navbar-nav">
                       
                       <li class="first leaf active"><a href="/ru" title="" class="active">Домой</a></li>
                       
                           <li class="expanded dropdown"><a href="/ru/content/dom-muzyki-segodnya" data-target="#" class="dropdown-toggle" data-toggle="dropdown">О нас <span class="caret"></span></a>
                          
                           <ul class="dropdown-menu">
                               <li class="first leaf"><a href="/ru/content/o-dome-muzyki">О Доме музыки</a></li>
                               <li class="leaf"><a href="/ru/content/rukovodstvo">Руководство</a></li>
                               <li class="leaf"><a href="/ru/content/dokumenty-o-sozdanii-i-deyatelnosti-uchrezhdeniya">Документы о создании и деятельности учреждения</a></li>
                               <li class="leaf"><a href="/ru/content/gosudarstvennye-zakupki">Государственные закупки</a></li>
                               <li class="last leaf"><a href="/ru/content/vakansii">Вакансии</a></li>
                           </ul>
                           
                           
                           </li>
                           
                           
                           
                           
                           <li class="expanded dropdown"><a href="/ru/content/afisha" title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Афиша <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/ru/content/afisha" title="">Афиша</a></li>
                               <li class="leaf"><a href="/ru/content/fest" title="">Фестивали</a></li>
                               <li class="leaf"><a href="https://www.mmdm.ru/ru/content/cikly-koncertov-2018-2019-0" title="Текстовая составляющая абонементов (Временная)">Абонементы</a></li>
                               <li class="leaf"><a href="/ru/content/moskovskiy-mezhdunarodnyy-konkurs-pianistov-vladimira-krayneva">Конкурс Крайнева</a></li>
                               <li class="leaf"><a href="/ru/content/concerttalk-ili-koncert-s-tolkom">Лекции</a></li>
                               <li class="last leaf"><a href="/ru/content/changes_in_repertoire" title="">Изменения в репертуаре</a></li>
                           </ul></li>
                           <li class="leaf"><a href="/ru/content/vladimir-spivakov">Владимир Спиваков</a></li>
                           <li class="expanded dropdown"><a href="/ru/content/bilety" title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Зрителям <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/ru/stock_predlojenia">Акции</a></li>
                               <li class="leaf"><a href="/ru/content/bilety">Билеты</a></li>
                               <li class="leaf"><a href="/ru/content/lgotnym-kategoriyam-grazhdan">Льготным категориям граждан</a></li>
                               <li class="last leaf"><a href="/ru/content/pravila-poseshcheniya-doma-muzyki">Правила посещения Дома музыки</a></li>
                           </ul></li>
                           <li class="expanded dropdown"><a href="/ru/content/kontakty" title="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Контакты <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="/ru/content/kontakty">Контакты</a></li>
                               <li class="last leaf"><a href="/ru/content/podzemnaya-parkovka">Подземная парковка</a></li>
                           </ul></li>
                           <li class="leaf"><a href="/ru/halls">Залы</a></li>
                           <li class="leaf"><a href="/ru/news" title="">Новости</a></li>
                           <li class="leaf"><a href="/ru/video" title="video">Видеоархив</a></li>
                           <li class="last leaf"><a href="/ru/content/vazhnaya-informaciya" title="info">Важная информация</a></li>
                       </ul>                             -->                                                        </div>

                </nav>
            </div>
        </div>
    </div>


    <div id="form_search" class="">
        <div class="region region-search2">
            <section id="block-block-43" class="block block-block clearfix">


                <form action="/search" method="GET" accept-charset="UTF-8">
                    <input id="focusinput" type="text" name="combine" value="" size="30" maxlength="128">
                    <p id="newplaceholder" class="">Введите текст для поиска</p>
                </form>
            </section>
        </div>
    </div>
</div>