==
<?php
function onstart(){
    $this['years'] = [
        ['number' => '2018', 'text'=>'2018'],
        ['number' => '2019', 'text'=>'2019'],
        ['number' => '2020', 'text'=>'2020']
    ];
    $this['months'] = [
        ['number' => '1', 'text'=>'Январь'],
        ['number' => '2', 'text'=>'Февраль'],
        ['number' => '3', 'text'=>'Март'],
        ['number' => '4', 'text'=>'Апрель'],
        ['number' => '5', 'text'=>'Май'],
        ['number' => '6', 'text'=>'Июнь'],
        ['number' => '7', 'text'=>'Июль'],
        ['number' => '8', 'text'=>'Август'],
        ['number' => '9', 'text'=>'Сентябрь'],
        ['number' => '10', 'text'=>'Октябрь'],
        ['number' => '11', 'text'=>'Ноябрь'],
        ['number' => '12', 'text'=>'Декабрь'],
    ];
}
?>
==
<div id="block-calenrad-events-calenrad-events" class="block block-calenrad-events clearfix">
    <h2 class="block-title">КАЛЕНДАРЬ</h2>
    <div id="calenrad_events_form_ajax_wrap">
        <form action="/" method="post" id="calenrad-events-form" accept-charset="UTF-8">
            <div>
                <div class="filter_wrap">
                    <div class="form-item form-item-year form-type-select form-group">
                        <select class="form-control form-select" id="edit-year" name="year">
                            {% for year in years %}
                                <option value="{{year.number}}">{{year.text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-item form-item-month form-type-select form-group">
                        <select class="form-control form-select" id="edit-month" name="month">
                            {% for month in months %}
                                <option value="{{month.number}}">{{month.text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="days_wrap">
                        <div id="edit-days" class="form-radios">
                            {% for i in 0..30 %}
                                <div class="form-item form-item-days form-type-radio radio">
                                    <label class="control-label" for="edit-days-{{ i }}">
                                        <input type="radio" id="edit-days-{{ i }}" name="days" value="{{ i }}" disabled="disabled" class="form-radio" />{{ i }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>