==
<?php
function onstart(){
  $this['events'] = [
       [ 'href'=>'/ru/events/oleg-mityaev-prezentaciya-novogo-alboma',
         'url'=>'https://www.mmdm.ru/sites/default/files/styles/main_photo_block/public/mityaev_osnovnaya.jpg?itok=9pyXLx0d',
         'data'=>'18 Сентябрь',
         'title'=>'Олег Митяев',
         'alt' => ''
        ]   ,
      [ 'href'=>'/ru/events/oleg-mityaev-prezentaciya-novogo-alboma',
          'url'=>'https://www.mmdm.ru/sites/default/files/styles/main_photo_block/public/mityaev_osnovnaya.jpg?itok=9pyXLx0d',
          'data'=>'18 Сентябрь',
          'title'=>'Олег Митяев',
          'alt' => ''
      ],
      [ 'href'=>'/ru/events/oleg-mityaev-prezentaciya-novogo-alboma',
          'url'=>'https://www.mmdm.ru/sites/default/files/styles/main_photo_block/public/mityaev_osnovnaya.jpg?itok=9pyXLx0d',
          'data'=>'18 Сентябрь',
          'title'=>'Олег Митяев',
          'alt' => ''
      ],
      [ 'href'=>'/ru/events/oleg-mityaev-prezentaciya-novogo-alboma',
      'url'=>'https://www.mmdm.ru/sites/default/files/styles/main_photo_block/public/mityaev_osnovnaya.jpg?itok=9pyXLx0d',
      'data'=>'18 Сентябрь',
      'title'=>'Олег Митяев',
          'alt' => ''
      ],
     [ 'href'=>'/ru/events/oleg-mityaev-prezentaciya-novogo-alboma',
         'url'=>'https://www.mmdm.ru/sites/default/files/styles/main_photo_block/public/mityaev_osnovnaya.jpg?itok=9pyXLx0d',
         'data'=>'18 Сентябрь',
         'title'=>'Олег Митяев',
         'alt' => ''
     ]
  ];
}
?>
==

<section id="block-views-events-fronpage-block" class="block block-views clearfix">
    <div class="1"></div>
    <div class="view view-events-fronpage view-id-events_fronpage view-display-id-block view-dom-id-b62bbd91a501071aade6f36cf0bae2f2 event-front">
        <div class="no-class">
            {% for event  in  events  %}
            <div class="otstup col-md-4">

                <div class="event-front-kvadrat">
                    <div class="event-front-kvadrat-img">
                        <a href="{{ event.href }}">
                            <img typeof="foaf:Image" class="img-responsive" src="{{ event.url }}" width="342" height="200" alt="{{ event.alt }}" />
                        </a>
                    </div>
                    <div class="event-front-kvadrat-text">
                        <div class="event-nevedimka">
                            <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{ event.data }}">{{ event.data}}</span>
                        </div>
                        {{ event.title }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>