==
<?php
function onstart(){
    $slider = \Parotikovanton\Mmdm\Models\Slide::find(1);
    $slider = $slider['slide_'.$this['lang']];
    $this['slider'] = $slider;
}
?>
==
<ul class="bxslider">
    {% for slide  in  slider  %}
        <a href="{{ slide.href }}"><img typeof="foaf:Image" class="img-responsive" src="/storage/app/media{{slide.image_url}}" width="1170" height="450" alt="{{ slide.alt_img }}" /></a>
    {% endfor %}
</ul>