
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    /*@import url("https://www.mmdm.ru/modules/system/system.base.css?pdrkjw");*/
    @import url("/themes/mmdm/assets/css/system.base.css");

</style>
<style>
    @import url("https://www.mmdm.ru/sites/all/modules/calendar/css/calendar_multiday.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/all/modules/date/date_api/date.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/all/modules/views/css/views.css?pdrkjw");

    @import url("https://www.mmdm.ru/modules/field/theme/field.css?pdrkjw");
    @import url("https://www.mmdm.ru/modules/node/node.css?pdrkjw");
</style>
<style>
    @import url("https://www.mmdm.ru/sites/all/modules/ctools/css/ctools.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/all/libraries/fancybox/source/jquery.fancybox.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/all/modules/calenrad_events/misc/calenrad_events.css?pdrkjw");
</style>
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.0.2/css/bootstrap.css" media="all" />
<style>
    @import url("https://www.mmdm.ru/sites/all/themes/bootstrap/css/3.0.2/overrides.min.css?pdrkjw");



    @import url({{[
    "assets/css/style.css",
    "assets/css/choose-place.css",
    "assets/css/fotorama.css",
    "assets/css/meropriatie.css",
    "assets/css/jquery.formstyler.css",
    "assets/css/jquery.bxslider.min.css",
    "assets/css/tizer-block.css",
    "assets/css/mmdmnewstyle.css"

    ]|theme}});




    /*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/style.css?pdrkjw");*/


    /*@import url("/themes/mmdm/assets/css/choose-place.css");*/
    /*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/_assets/css/choose-place.css?pdrkjw");*/




    @import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/_assets/css/tipTip.css?pdrkjw");

    /*@import url("/themes/mmdm/assets/css/fotorama.css");*/
    /*!*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/fotorama.css?pdrkjw");*!*/


    /*@import url("/themes/mmdm/assets/css/meropriatie.css");*/
    /*!*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/meropriatie.css?pdrkjw");*!*/


    /*@import url("/themes/mmdm/assets/css/jquery.formstyler.css");*/
    /*!*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/jquery.formstyler.css?pdrkjw");*!*/

    /*@import url("/themes/mmdm/assets/css/jquery.bxslider.min.css");*/
    /*!*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/jquery.bxslider.min.css?pdrkjw");*!*/


    /*@import url("/themes/mmdm/assets/css/tizer-block.css");*/

    /*@import url("https://www.mmdm.ru/sites/all/themes/mmdm_theme/css/tizer-block.css?pdrkjw");*/
</style>

<style>
    @import url("https://www.mmdm.ru/sites/default/files/css_injector/css_injector_7.css?pdrkjw");
    @import url("https://www.mmdm.ru/sites/default/files/css_injector/css_injector_8.css?pdrkjw");
</style>


<style>
    @media (max-width: 768px){
        .main-container:before{
            content: '';
            display: block;
            width: 100%;
            background-image: url(/sites/all/themes/mmdm_theme/images/slider00.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 12px;
            padding: 29.8%;
        }
    }
</style>


