==
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8861860-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- HTML5 element support for IE6-8 -->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="https://www.mmdm.ru/sites/all/modules/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script src="https://www.mmdm.ru/misc/jquery.once.js?v=1.2"></script>
<script src="https://www.mmdm.ru/misc/drupal.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie.js?v=67fb34f6a866c40d0570"></script>
<script src="https://www.mmdm.ru/sites/all/modules/jquery_update/replace/misc/jquery.form.min.js?v=2.69"></script>
<script src="https://www.mmdm.ru/misc/ajax.js?v=7.58"></script>
<script src="https://www.mmdm.ru/sites/all/modules/jquery_update/js/jquery_update.js?v=0.0.1"></script>
<script src="//cdn.jsdelivr.net/bootstrap/3.0.2/js/bootstrap.js"></script>
<script src="https://www.mmdm.ru/sites/default/files/languages/ru_Iymg5Qo3h1Rt6-OZhBoTnGv942-hbtpXqUa4vffOM4M.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/modules/fancybox/fancybox.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/libraries/fancybox/source/jquery.fancybox.pack.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/libraries/fancybox/lib/jquery.mousewheel-3.0.6.pack.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/modules/custom_search/js/custom_search.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/modules/better_exposed_filters/better_exposed_filters.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/bootstrap/js/misc/_progress.js?v=7.58"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/_assets/_js/jquery.tipTip.minified.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/_assets/_js/TipTip-master/jquery.tipTip.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/mmdm.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/lightslider.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/jquery.maskedinput.min.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/fotorama.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/parsley.min.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/jquery.formstyler.min.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/jquery.placeholder.min.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/jquery.bxslider.min.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/mmdm_theme/js/pep.js?pdrkjw"></script>
<script src="https://www.mmdm.ru/sites/all/themes/bootstrap/js/misc/ajax.js?pdrkjw"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"ru\/","ajaxPageState":{"theme":"mmdm_theme","theme_token":"o00bFZAnVzN9N5nq7QbcDDjxxVq0T996nHeqNrVmcRA","jquery_version":"1.10","js":{"sites\/all\/themes\/bootstrap\/js\/bootstrap.js":1,"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/external\/jquery.cookie.js":1,"sites\/all\/modules\/jquery_update\/replace\/misc\/jquery.form.min.js":1,"misc\/ajax.js":1,"sites\/all\/modules\/jquery_update\/js\/jquery_update.js":1,"\/\/cdn.jsdelivr.net\/bootstrap\/3.0.2\/js\/bootstrap.js":1,"public:\/\/languages\/ru_Iymg5Qo3h1Rt6-OZhBoTnGv942-hbtpXqUa4vffOM4M.js":1,"sites\/all\/modules\/fancybox\/fancybox.js":1,"sites\/all\/libraries\/fancybox\/source\/jquery.fancybox.pack.js":1,"sites\/all\/libraries\/fancybox\/lib\/jquery.mousewheel-3.0.6.pack.js":1,"sites\/all\/modules\/custom_search\/js\/custom_search.js":1,"sites\/all\/modules\/better_exposed_filters\/better_exposed_filters.js":1,"sites\/all\/themes\/bootstrap\/js\/misc\/_progress.js":1,"sites\/all\/themes\/mmdm_theme\/_assets\/_js\/jquery.tipTip.minified.js":1,"sites\/all\/themes\/mmdm_theme\/_assets\/_js\/TipTip-master\/jquery.tipTip.js":1,"sites\/all\/themes\/mmdm_theme\/js\/mmdm.js":1,"sites\/all\/themes\/mmdm_theme\/js\/lightslider.js":1,"sites\/all\/themes\/mmdm_theme\/js\/jquery.maskedinput.min.js":1,"sites\/all\/themes\/mmdm_theme\/js\/fotorama.js":1,"sites\/all\/themes\/mmdm_theme\/js\/parsley.min.js":1,"sites\/all\/themes\/mmdm_theme\/js\/jquery.formstyler.min.js":1,"sites\/all\/themes\/mmdm_theme\/js\/jquery.placeholder.min.js":1,"sites\/all\/themes\/mmdm_theme\/js\/jquery.bxslider.min.js":1,"sites\/all\/themes\/mmdm_theme\/js\/pep.js":1,"sites\/all\/themes\/bootstrap\/js\/misc\/ajax.js":1},"css":{"modules\/system\/system.base.css":1,"sites\/all\/modules\/calendar\/css\/calendar_multiday.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/libraries\/fancybox\/source\/jquery.fancybox.css":1,"sites\/all\/modules\/calenrad_events\/misc\/calenrad_events.css":1,"\/\/cdn.jsdelivr.net\/bootstrap\/3.0.2\/css\/bootstrap.css":1,"sites\/all\/themes\/bootstrap\/css\/3.0.2\/overrides.min.css":1,"sites\/all\/themes\/mmdm_theme\/css\/style.css":1,"sites\/all\/themes\/mmdm_theme\/_assets\/css\/choose-place.css":1,"sites\/all\/themes\/mmdm_theme\/_assets\/css\/tipTip.css":1,"sites\/all\/themes\/mmdm_theme\/css\/fotorama.css":1,"sites\/all\/themes\/mmdm_theme\/css\/meropriatie.css":1,"sites\/all\/themes\/mmdm_theme\/css\/jquery.formstyler.css":1,"sites\/all\/themes\/mmdm_theme\/css\/jquery.bxslider.min.css":1,"sites\/all\/themes\/mmdm_theme\/css\/tizer-block.css":1,"public:\/\/css_injector\/css_injector_7.css":1,"public:\/\/css_injector\/css_injector_8.css":1}},"fancybox":[],"custom_search":{"form_target":"_self","solr":0},"better_exposed_filters":{"datepicker":false,"slider":false,"settings":[],"autosubmit":false,"views":{"slider_840":{"displays":{"block":{"filters":[]}}},"Events":{"displays":{"block_1":{"filters":[]}}},"events_fronpage":{"displays":{"block":{"filters":[]}}},"pass_through_banners":{"displays":{"block":{"filters":[]}}}}},"urlIsAjaxTrusted":{"\/ru\/search2":true,"\/ru\/system\/ajax":true,"\/":true},"ajax":{"edit-year":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"year"}},"edit-month":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"month"}},"edit-days-1":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-2":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-3":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-4":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-5":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-6":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-7":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-8":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-9":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-10":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-11":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-12":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-13":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-14":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-15":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-16":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-17":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-18":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-19":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-20":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-21":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-22":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-23":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-24":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-25":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-26":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-27":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-28":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-29":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}},"edit-days-30":{"method":"replaceWith","wrapper":"calenrad_events_form_ajax_wrap","callback":"calenrad_events_form_ajax_callback","event":"change","url":"\/ru\/system\/ajax","submit":{"_triggering_element_name":"days"}}},"bootstrap":{"anchorsFix":1,"anchorsSmoothScrolling":1,"formHasError":1,"popoverEnabled":1,"popoverOptions":{"animation":1,"html":0,"placement":"right","selector":"","trigger":"click","triggerAutoclose":1,"title":"","content":"","delay":0,"container":"body"},"tooltipEnabled":1,"tooltipOptions":{"animation":1,"html":0,"placement":"auto left","selector":"","trigger":"hover focus","delay":0,"container":"body"}}});</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P83VWQ3');</script>
<!-- End Google Tag Manager -->
<script src="https://muvis.media/integration/mmdm.js"></script>
<!-- NT -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

    })(window,document,'script','dataLayer','GTM-542KJLC');</script>

<!-- End NT -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-542KJLC"

                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End NT (noscript) -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P83VWQ3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
    document.getElementById('search').onclick = function (event) {
        event.preventDefault();
        var form_search = document.getElementById('form_search');
        if(form_search.className == 'open'){
            form_search.className = "";
        }else{
            form_search.className = "open";
            document.getElementById('focusinput').focus();
        }
    };
    document.getElementById('focusinput').onfocus = function () {
        document.getElementById('newplaceholder').className = "open";
    };
    document.getElementById('newplaceholder').onclick = function () {
        document.getElementById('newplaceholder').className = "open";
    };
    var test = document.getElementsByClassName("home-event-list");
    test2 = [].slice.call(test);
    test2.forEach(function(element) {
        if( element.text =='Изменения ' ){
            element.classList.add("new_col_iz");
            console.log(element);
        }
    });

</script>

    <!-- Yandex.Metrika counter -->

    <script type="text/javascript" >

        (function (d, w, c) {

            (w[c] = w[c] || []).push(function() {

                try {

                    w.yaCounter28510826 = new Ya.Metrika2({

                        id:28510826,

                        clickmap:true,

                        trackLinks:true,

                        accurateTrackBounce:true,

                        webvisor:true,

                        ecommerce:"dataLayer"

                    });

                } catch(e) { }

            });



            var n = d.getElementsByTagName("script")[0],

                s = d.createElement("script"),

                f = function () { n.parentNode.insertBefore(s, n); };

            s.type = "text/javascript";

            s.async = true;

            s.src = "https://mc.yandex.ru/metrika/tag.js";



            if (w.opera == "[object Opera]") {

                d.addEventListener("DOMContentLoaded", f, false);

            } else { f(); }

        })(document, window, "yandex_metrika_callbacks2");

    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/28510826" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script src="https://www.mmdm.ru/sites/all/themes/bootstrap/js/bootstrap.js?pdrkjw"></script>
    <script type="text/javascript" id="statsmosru" src="https://stats.mos.ru/counter.js" onLoad="statsMosRuCounter()" defer="defer" async="true"></script>
    <script type="text/javascript" src="https://www.mos.ru/otrasli-static/outer/mosTizer.js"></script>
    <!-- NT -->

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

        })(window,document,'script','dataLayer','GTM-542KJLC');</script>

    <!-- End NT -->
    <!-- NT (noscript)-->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-542KJLC"

                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- End NT (noscript) -->