==
<div class="container" style="background: #ebebeb;">
    {% partial 'footer/cross_banners' %}
    {% partial 'footer/footer_menu' %}
    {% partial 'footer/banners_placement' %}
</div>

<script>
    document.getElementById('search').onclick = function (event) {
        event.preventDefault();
        var form_search = document.getElementById('form_search');
        if(form_search.className == 'open'){
            form_search.className = "";
        }else{
            form_search.className = "open";
        }
    };
    document.getElementById('focusinput').onfocus = function () {
        document.getElementById('newplaceholder').className = "open";
    };
    document.getElementById('newplaceholder').onclick = function () {
        document.getElementById('newplaceholder').className = "open";
    };

</script>