

==
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="cmsmagazine" content="64f6d7a8b3b4c9b5e2b7dda405e61b1b" />
    <meta name="yandex-verification" content="1ef8b4e5c4abf67a" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Drupal 7 (http://drupal.org)" />
    <title>{{seo_title}}</title>
    <meta name="description" content="{{seo_desc}}">
    <meta name="keywords" content="{{seo_key}}">
    <link rel="shortcut icon" href="https://www.mmdm.ru/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="canonical" href="https://www.mmdm.ru/ru" />
    <link rel="shortlink" href="https://www.mmdm.ru/ru" />
    {% partial 'assets/css' %}
    {% partial 'assets/js' %}
</head>