{% for item in items if not item.viewBag.isHidden %}
    <li role="presentation" class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }}
            </a>
        {% else %}
            <strong>{{ item.title }}</strong>
        {% endif %}

        {% if item.items %}
            <ul>{% partial __SELF__ ~ "::footer_item" items=item.items %}</ul>
        {% endif %}
    </li>
{% endfor %}