{% for item in items if not item.viewBag.isHidden %}
    <li role="presentation" class="   {{ item.isActive ? 'active' : 'leaf' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
        {% if item.url %}
            <a href="{{ item.url }}"  class="{{ item.isActive ? 'active' : '' }}    "      {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }}
            </a>
        {% else %}
            <strong>{{ item.title }}</strong>
        {% endif %}

        {% if item.items %}
            <ul>{% partial __SELF__ ~ "::top_sub_menu_items" items=item.items %}</ul>
        {% endif %}
    </li>
{% endfor %}